---
title: About This Guide
---
{% include bordeaux_guide_header.html %}


<P>	This guide is intended to make the first few weeks in <i>Bordeaux</I>  a 
little easier. There are lots of little things that you'll need to do but 
won't know how; you're expected to know already. Hopefully, after having 
had a look at this guide, you will. Also this should give you an idea of 
what there is to do in <i>Bordeaux</I> .


<P>	<center>
<TABLE ALIGN="center" border=1 cellpadding=0 cellspacing=1>
	<CAPTION align="bottom"><small><b>
		Universit&eacute; de Bordeaux I</b>
		<br><small>
		photograph &copy;1995 H.&nbsp;Shawcross
		</small></small></CAPTION>
	<TR><td><img src="images/maths_department.jpeg"></td></tr>
</TABLE>
</center>


<P>	Anything written in <i>italics</I>  is probably in French or a French name 
and so can be safely ignored or mispronounced.


<P>	There are bound to be things here that are out of date by next year, in 
particular anything that involves a number, whereas other things will have 
been wrong in the first place. However, misinformation is something that 
you'll get used to.

<p align=right>
<i>January 1995</I> 
<P>	</td></tr></table>

</center>

{% include bordeaux_guide_footer.html %}

</body></html>
