---
title: Accommodation
description: Part of a guide for clueless ERASMUS students living in Bordeaux.
---
{% include bordeaux_guide_header.html %}


<P>	The halls of residence on the campus are <i>Village 1, Village 2, Village 
3, Village 4, Village 5</I>  and <i>Village 6.</I>  Whether or not you 
decide to spend the whole year living in hall, it's where you'll probably 
start off. These halls are nothing like a British hall of residence - they 
seem less sociable and there are much fewer things organised. The first 
thing that you notice is that there are no student bars and it isn't as 
easy to meet the people on your corridor because they all seem to work so 
much. However the rent is very cheap and you're sure to have a lot of fun 
once you get to know people there. Another advantage of living in hall is 
that you don't have to get the bus to the campus every morning.

</td></tr></table>

<p><img src="cartoons/village1.gif" alt="Village 1 piccy" width=384 
height=299>
<br><small><b>From your room in hall you will have a lovely view of the 
campus</b></small>


<P>	<table width="80%" align=center><tr><td>


<P>	You may be able to choose a room, so have an idea whereabouts in the 
building you want to be. You could even ask for several keys so you can 
have a look at the rooms first - some are 'more tastefully decorated' than 
others. There are no carpets and you have to clean the room yourself. You 
change your linen every three or four weeks.

<P>	Your address in hall will be <i>Chambre ? B&acirc;timent ?, Village ?, 
Domaine Universitaire, 33405 TALENCE, France</I> . It is important that 
'<i>Bordeaux</I> ' isn't written anywhere in the address, or the letter 
will get lost in the depths of the central post office in the centre of 
<i>Bordeaux</I> .

<P>	Here is some information on the ones we know about:

<H2>	Village 1</H2>


<P>	This is the biggest and ugliest <i>village</I>  on the campus (apart from 
<i>Village 3</I> , but that's not as ugly). It is next to <i>Bordeaux I</I>  
so this is where you'll probably live if you're going to <i>Bordeaux</I>  
to study sciences. By the beginning of next year the new chemistry 
building should be finished so you won't feel like you're living on a 
building site.

<P>	There are television rooms in <i>B&acirc;timents E, F, G</I>  , a pool 
room, a table tennis room and a photo lab. Underneath <i>B&acirc;timent 
G</I>  is a small laundrette and underneath <i>B&acirc;timent A</I>  is the 
'<i>foyer</I> ' which is a games room with a small snack bar where ents are 
occasionally organised. There are also study rooms and a small library. 
There is hardly any security at all.

<p> <i>Village 1</I>  is next to <i>RU1</I>  and the cafeteria which is just 
as well because there are no kitchens. Within five minutes walk is the 
sports hall. Within ten minutes walk are <i>V2</I>  and the whole of 
<i>Bordeaux I - Sciences.</I>  


<H2>	Village 2</H2>

<P>	Village 2 is one of the smaller villages and the only one not actually on 
the bus route (it's about 300 m to the bus stop). It's quite peaceful, 
which is another way of saying that nothing goes on there, but it is much 
prettier than the other villages and being right in the middle of the 
campus it is equally far from everything which is good.


<P>	The facilities here are quite good. There are two television rooms, one 
big, one small and both fairly comfy. There are sparse but functional 
kitchens and study rooms in each block. There is also a table-tennis room, 
a piano room and a library that has a hi-fi, some records, loads of old 
newspapers and magazines, a few board games, some books and even an 
Asterix collection. Security is good; there is an intercom system to get 
in the front door. This also means that you don't have to trek up all four 
flights of stairs just to see if your mate's in.

<P>	Right next to <i>V2</I>  is <i>RU2</I>  and it's cafeteria '<i>Le Vent 
D&eacute;bout</I> ' which is best described as 'novel' or 'imaginative'. 
Within five minutes walk are the sports hall, <i>V5</I>  and it's 
laundrette and the Law and Geography departments. Within ten minutes walk 
are <i>V1, RU1, V3, V6, Le Campus</I>  the local newsagent, the post office
  and all of <i>Bordeaux III.</I>  
<P>	<H2>	Village 3</H2>

<P>	This village, next to <i>Bordeaux III</I>  ,
  is where you may live in September if you do a <i>defle</I>  
language course. Possibly the most notable things about this 
<i>village</I>  are the colour-coded shutters and doors and the cunning 
design and wittiness of the <i>Biblioth&egrave;que des Lettres</I>  which 
is just across the road.


<P>	There is a television room and a dojo which is used, among other things, 
for dance classes. Outside there is a tennis court and an amphitheatre.


<P>	Cafeteria <i>Vera Cruz</I>  ,
  complete with palm trees, is next to <i>V3</I>  . Within five 
minutes walk there are two other cafes - <i>Forum</I>  and <i>Chez 
Jaques</I>  , all of <i>Bordeaux III</I>  , <i>RU2</I>  , the off-campus 
brasserie <i>Le Cafet</I>  , the post office and <i>Le Campus</I>  the 
newsagent. Within ten minutes walk are <i>V2, RU2</I>  , V6, V5
  and its laundrette.


<H2>	Living Out</H2>

<P>	A lot of people quickly decide that the <i>villages</I>  are far too grim 
to live in for a whole year and move out. Rent is quite expensive, but all 
you get is a flat which will almost certainly be unfurnished. If you get a 
<i>carte de s&eacute;jour</I>  then you'll be able to get the rent rebate 
so it's not that bad. There are three categories of flat depending on the 
size: <i>T1</I>  is one room - a studio <i>, T2</I>  is two rooms - a lounge 
and bedroom and <i>T3</I>  is three rooms - two bedrooms and a lounge. All 
will have a small kitchenette or a kitchen.

<P>	There are many pros and cons to moving out. On the one hand you're much 
closer to the night life and the shops, you've probably got quite a decent 
place and you can avoid the many English speakers that are in hall, but on 
the other hand staying in hall is cheaper, less hassle, more convenient 
for the campus and you may find it easier to meet people there. Another 
good thing about living out is that you can make more noise without loads 
of students on your corridor knocking on your door to complain that they 
can't work.

<P>	There are several ways to find somewhere. A lot of people go to an agency 
who will find you a place. Agencies tend to specialise in either furnished 
or unfurnished accommodation. It is important not to pay the agency 
anything until you've got a place and signed a contract because they may 
just give you a list of flats that have already been taken.

<P>	Some places to try are: <i>CROUS - 5 rue du Hamel; Centre d'Info Jeunesse 
Aquitaine (CIJA) - 5 rue Duffour Dubergier</I>  and <i>125 cours Alsace 
Lorraine</I>  ; and the <i>Association Catholique Etudiants - 28, rue 
Paul-Louis-Lande</I>  .

</td></tr></table>

</center>


{% include bordeaux_guide_footer.html %}


</body>
</html>
