---
title: Bureaucratic Nightmares
---
{% include bordeaux_guide_header.html %}


<P>	France has always been notorious for its petty bureaucracy. This is as 
true in <i>Bordeaux</I> as anywhere. There's little you can do except put 
up with it and jump through all of the hoops. Remember that saying '<i>je 
suis &eacute;tudiant ERASMUS</I> ' often smoothes the way when faced with 
lots of red tape in the university.


<H2>	Departmental Registration</H2>

<P>	You must go and register in your department before the start of term. You 
will have to guess as to when you can do this - it may be as early as the 
middle of September or as late as the end of October depending on when 
your lectures start. You go to the <I>Scolarit&eacute;</I> , jump the huge queue and say that you're an ERASMUS 
student. You will get given your student card and various documents 
including something you take to the library to get your library card and a <I>certificat de scolarit&eacute;</I> that you need for the <I>carte de s&eacute;jour</I> .


<H2>The <i>Carte de S&eacute;jour</I> </H2>


<P>	Anyone spending more than three months in France is supposed to get one of 
these but most people don't bother. However, it's well worth getting one 
because then you can get the <I>allocation de logement</I> , the rent rebate from the <I>Caisse d'Allocations Familiales</I> , which is quite a substantial sum. 
This golden carrot will take up lots of your time and effort. Just think 
of it as good experience in dealing with bureaucrats.

</td></tr></table>

<p><img src="cartoons/barrow.gif" alt="barrow piccy" width=285 height=337>
<br><small><b>Remember to take everything you need when you apply for the 
carte de s&eacute;jour</b></small>


<P>	<table width="80%" align=center><tr><td>



<P>	If you live in <I>Bordeaux</I> you have to go to the <I>pr&eacute;fecture</I> . If you live on the campus, you go to the police 
station in <I>Talence</I> if you live in <I>Village 1</I> and the police station in <I>Pessac</I> otherwise. You fill in several forms and get a form back that 
tells you to go back about six weeks later...

<P>	The things you need are: passport, five passport photographs, full birth 
certificate, French translation of the birth certificate, a 200F <I>timbre fiscal</I> (just a stamp), E111, <I>certificat de scolarit&eacute;</I> that you get when you register at the 
university, an <I>attestation de bourse</I> which should be available in the international 
office in your department in <I>Bordeaux</I> and an <I>attestation de</I> <i>
	logement</I> that you can get from the secretary in your <I>village</I> or from your landlord.

<P>	However, this list can vary depending on where you go and possibly even 
depending on who you see. They shouldn't ask for more than this but we're 
not promising anything. The photos may have to be in black and white or 
you may get away with colour ones. The stamp is sometimes less than 200F - 
wait until you are told at the police station what you need before getting 
one because there's not much else you could use one for. If you have 
medical insurance take that along as well. The best thing to do is to take 
along all of the documents as well as photocopies of them all. Whatever 
you do don't relinquish any originals that you want to see again.

<P>	When you think you have got everything, telephone to make sure that you 
don't need an appointment and then go along with everything. Hopefully you 
will be okay with what you've got, but you are bound to be missing 
something and will have to go back. It is important to apply as soon as 
possible because the rent rebate is only back dateable to the date you 
applied for the <i>carte de s&eacute;jour</I> . After you have applied, 
direct any enquiries to the
<i>Pr&eacute;fecture de la Gironde</I> - 05.56.90.61.94.


<H2>The <i>Allocation de Logement</I> </h2>


<P>	The <I>Allocation de Logement</I> is the rent rebate that you can get. You 
usually get about 50% of your monthly rent back. When you move in to hall 
ask the <I>secretariat</I> for the form. First, get a <I>fiche d'&eacute;tat civil</I> from the town hall with your passport. While 
you are there ask them for official (i.e. stamped) photocopies of your 
birth certificate and the translation. Normal photocopies of these 
documents are not acceptable for official purposes. When you have finally 
got your <I>carte de s&eacute;jour</I> take that, your <I>fiche d'&eacute;tat civil</I> , your birth certificate and the 
translation, your passport and a kitchen sink to the <I>Caisse d'Allocations Familiales</I> .


<H2>	Bank Accounts</H2>

<P>	It is not essential to have a bank account in France but you may find it 
useful. However, if you can get by without an account you will save 
yourself a lot of time and effort. The main problem with French bank 
accounts is that there are charges for almost everything and transferring 
funds from the UK isn't particularly cheap. An easier and possibly cheaper 
alternative is to just use a British visa card. If you use the Lloyds 
payment card, for example, you can withdraw money from cash machines for a 
charge of one and a half percent and you can pay in shops completely free 
of charge.

<P>	If you want to open an account you have to go to the bank to make an 
appointment. Take your passport, a couple of hundred Francs to open the 
account, your banker's draft if you've got one and an <I>attestation de logement</I> which you can get from the <I>secretariat</I> at your hall or from your landlord. It is worth shopping 
around to get the best facilities and smallest charges. For example some 
banks offer overdraft facilities and a free <I>Carte Bleu</I> .

<P>	The cheapest way to transfer funds into your French account is by banker's 
draft. It is important to remember that unless you've got agreed overdraft 
facilities, it is illegal to go overdrawn and under Napoleonic law you 
could even end up being banned from having a French bank account for ten 
years.


<H2>	Seeing a Doctor</H2>


<P>	There is a health centre on the campus just behind <I>RU2</I> called <I>Le Centre de M&eacute;d&eacute;cine Pr&eacute;ventatif</I> . If you need 
to see a doctor just wander in here and they'll sort it out. Consultations 
are free but if you do have to pay for anything, keep all the labels and 
receipts so you can try to claim it back with the E111 form.

</td></tr></table>

<p><img src="cartoons/docteur.gif" alt="bus piccy" width=576 height=302>


<P>	<table width="80%" align=center><tr><td>

</td></tr></table>

</center>


{% include bordeaux_guide_footer.html %}


</body>
</html>
