---
title: Contents
---
{% include bordeaux_guide_header.html %}


<P>	<center>
Sums are not set as a test on ERASMUS - <i>unknown</I> 
</center>


<P>	<hr size=1>
<table width="80%" align=center><tr><td>

<br>

<P>	<ul>


<P>	<li><a href="about_this_guide.html">
About this Guide</a></li>



<P>	<li><a href="odds_&_ends.html">
Odds &amp; Ends</a></li>

	
<P>		<ul>
		<li>Things to Take</li>
		<li>Things You Can't Get...</li>
		<li>Things Worth Getting</li>
	</ul>


<P>	<li><a href="getting_about.html">
Getting About</a></li>

	
<P>		<ul>
		<li>Getting to the Campus</li>
		<li>Buses</li>
		<li>Planes</li>
		<li>Bikes</li>
		<li>Trains</li>
	</ul>


<P>	<li><a href="accommodation.html">
Accommodation</a></li>

	
<P>		<ul>
		<li><i>Village 1</I> </li>
		<li><i>Village 2</I> </li>
		<li><i>Village 3</I> </li>
		<li>Living Out</li>
	</ul>


<P>	<li><a href="feeding_yourself.html">
Feeding Yourself</a></li>

	
<P>		<ul>
		<li><i>Restaurants Universitaires</I> </li>
		<li><i>St. Michel</I> </li>
		<li>Top Restaurants</li>
	</ul>


<P>	<li><a href="shopping.html">
Shopping</a></li>

	
<P>		<ul>
		<li>Shopping in Town</li>
		<li>Supermarkets</li>
	</ul>


<P>	<li><a href="night-life.html">
Night-life</a></li>

	
<P>		<ul>
		<li>On Campus</li>
		<li><i>Place de la Victoire</I> </li>
		<li><i>Place Gambetta</I> </li>
		<li>Cinemas</li>
		<li>English &amp; Irish pubs</li>
		<li>Getting Back to the Campus</li>
	</ul>


<P>	<li><a href="bureaucratic_nightmares.html">
Bureaucratic Nightmares</a></li>

	
<P>		<ul>
		<li>Departmental Registration</li>
		<li>The </li>Carte de S&eacute;jour</I> </li>
		<li>The <i>Allocation de Logement</I> </li>
		<li>Bank Accounts</li>
		<li>Seeing a Doctor</li>
	</ul>


<P>	<li><a href="university_facilities.html">
University Facilities</a></li>

	
<P>		<ul>
		<li>Photocopiers</li>
		<li>Libraries</li>
		<li>Laundrettes</li>
		<li>Electronic Mail</li>
		<li>Word Processing</li>
	</ul>


<P>	<li><a href="other_activities.html">
Other University Activities</a></li>

	
<P>		<ul>
		<li>Sport</li>
		<li>Drama</li>
		<li>Music</li>
	</ul>


<P>	<li><a href="culture_&_tourism.html">
Culture &amp; Tourism</a></li>

	
<P>		<ul>
		<li>FM Radio Stations</li>
		<li>Going to Church</li>
	</ul>


<P>	<li><a href="the_university.html">
The University</a></li>



<P>	<li><a href="the_campus.html">
The Campus</a></li>



<P>	<li><a href="keeping_in_touch.html">
Keeping In Touch</a></li>



<P>	<li><a href="defle_courses.html">
<i>DEFLE</I>  Courses</a></li>

	
<P>		<ul>
		<li>The September <i>Stage</I> </li>
		<li>Courses During the Year</li>
	</ul>


<P>	<li><a href="names_&_numbers.html">
Names &amp; Numbers</a></li>

	
<P>		<ul>
		<li>Bars and Restaurants</li>
		<li>Bookshops</li>
	</ul>
</ul>

</td></tr></table>

</center>


{% include bordeaux_guide_footer.html %}


</body>
</html>
