---
title: Culture And Tourism
---
{% include bordeaux_guide_header.html %}


<P>	There are a lot of arty things to do in and around <I>Bordeaux</I> so if you're feeling cultured or you want to be able to 
impress your parents when they come to visit it is worth having some idea 
of what's on offer. The most cultured thing you can do is go and see a 
concert, an opera or a ballet at the very impressive <I>Grand Th&eacute;&acirc;tre</I> . Students get very good reductions on 
tickets and there is a wide variety of performances.

</td></tr></table>

<p><img src="cartoons/vin.gif" alt="tourism piccy" width=261 height=320>
<br><small><b>Do the tourist bit and visit the wine museum</b></small>


<P>	<table width="80%" align=center><tr><td>


<P>	Something that is definitely worth doing once is having a look around the <I>Mus&eacute;e d'Aquitaine</I> which is quite big and has a bit of 
everything. Get off the bus two stops after <I>Place de la Victoire</I> and you can't miss it. It's free on Sundays and 
Wednesday afternoons although it only costs about a quid otherwise. Ask 
for a guide book because otherwise you will not have a clue what anything 
is.
<p> <I>Bordeaux</I> has half a dozen theatres. The main one is <I>Th&eacute;&acirc;tre de Port de la Lune - 22, quai St. Croix</I> .

<P>	There are various other galeries and small museums around town. The best 
thing to do is to start off at the tourist information office, <I>12 cours du XXX Juillet</I> - and decide where to go from there.

<P>	If you are feeling bolder you can venture out of Bordeaux. Locally this 
usually involves either going to a wine <I>ch&acirc;teau</I> or going to the coast. <I>St. Emillon</I> is a popular wine producing area and is very picturesque. 
Go to a <I>ch&acirc;teau</I> with a wine museum because then you'll get to see more 
than just a couple of big vats and a pile of barrels. A good starting 
place is the <I>Maison du Vin</I> in the town centre near the <I>Grand Th&eacute;&acirc;tre</I> . As for going to the coast, everyone goes 
to Arcachon and to the nearby <I>Dune de Pyla</I> - Europe's highest sand dune.

<H2>	FM Radio Stations</H2>

<P>	<i>
	B.F.M</I> - 88.5, <I>Black Box</I> - 103.7, <I>Bordeaux Gironde</I> - 100.1, <I>Cherie FM</I> - 95.3, <I>Clef des Ondes</I> - 90.1, <I>Europe 1</I> - 104.6, <I>Europe 2</I> - 94.3, <I>France Info</I> - 105.5, <I>France Inter</I> - 89.7, <I>Fr&eacute;quence 4</I> - 98.2, <I>Fun Radio</I> - 91.8, <I>Iguanodon</I> - 90.7, <I>RTL1</I> - 106.8, <I>Nostalgie</I> - 97.3, <I>NRJ</I> - 102.4, <I>Radio Campus</I> - 88.1, <I>Radio Classique</I> - 92.2, <I>Radio Forum TSF</I> - 91.3, <I>Radio Harmonie</I> - 88.9, <I>Radio Orient</I> - 106.4, <I>Radio Sauvagine</I> - 94.9, <I>RFM</I> - 99.6, <I>RMC</I> - 104.2, <I>RTL</I> - 105.1, <I>Skyrock</I> - 102.8, <I>Sud Radio</I> - 106.0, <I>T&eacute;l&eacute; Radio des Graves</I> - 92.6, <I>Wit FM</I> - 100.8.


<H2>	Going to Church</H2>

<P>	France being dominantly Catholic means that most of the churches in <I>Bordeaux</I> are Catholic too. However, if this isn't for you, there are 
quite a few Protestant churches around. If you go to the tourist 
information office they will give you a list with most types of church on 
it. There is one on the campus that is particularly friendly: the <I>Eglise Baptiste de Pessac</I> . It is at <I>162, rue de la Paill&egrave;re</I> , and meets at 10.15 a.m. on a Sunday 
for a bible study, leading into a service at eleven o'clock. They have a 
bring and share lunch once a fortnight too. The pastor is American, 
although his French is perfect; and the services are in French. Plenty of 
French people go.

<P>	The student Christian group is called ' <I>Groupe Biblique Universitaire</I> ' and meets every Wednesday at 8 p.m. on 
the first floor of A-B block in <I>Village 3</I> . Meetings start in about the second week of October. This 
is a good way to meet other young French Christians. Also, they arrange a 
weekend away with the other groups from <I>Toulouse</I> and <I>Pau</I> 
</td></tr></table>

</center>


{% include bordeaux_guide_footer.html %}


</body>
</html>
