---
title: DEFLE Courses
---
{% include bordeaux_guide_header.html %}


<P>	The <a href="http://www.defle.u-bordeaux3.fr/"><i>D&eacute;partement d'Etudes de Fran&ccedil;ais Langue Etrang&egrave;re</I></a> in <i>Bordeaux III</I>  does French language courses. The courses are useful
and the quality of teaching is good.

<P>	<h2>The September <i>Stage</I> </h2>


<P>	<i>DEFLE</I>  run a three week language course during September.
This is an ideal way to start the year because it gives you a good start with
the language and you get to meet a lot of people. It also means you can get
used to <i>Bordeaux</I>  before the year's courses start. erasmus will pay for
an intensive language course. Try to get your department in the UK pay for it.
Otherwise pay for it yourself and then get the money reimbursed. If your home
university is paying then it would be useful to have a letter that explains
this to the <i>DEFLE</I>   people.
<P>	When you arrive in <i>Bordeaux</I>  at the beginning of September try to find
out in advance where you will be staying so you know whereabouts on the campus
to take all your stuff. If you get dropped of at <i>Village 3</I>  and then find
out that you've got to drag everything the two miles to <i>Village 1</I>  you
won't be very happy. Most people doing the <i>stage</I>  will stay in <i>Village
3</I>  which is just across the road from the <i>DEFLE</I>  building but if you
are staying for the whole year and have organised accommodation in <i>Village
1</I> , say, then you are better off going there straight away so you don't have
to move after three weeks.

<h2>Courses During the Year</h2>


<P>	There are similar <i>DEFLE</I>  courses during the course of the year. If
you are interested go to the secretary in the <i>Maison du DEFLE</I>  where you
can get more information and sign up for the diagnostic test that they do at
the beginning of October. These courses are normally full-time but if you are
doing other studies as well there is no problem with doing just a few hours a
week - the grammar course for example.

</td></tr></table>

</center>


{% include bordeaux_guide_footer.html %}


</body>
</html>
