---
title: Feeding Yourself
description: Part of a guide for clueless ERASMUS students living in Bordeaux.
---
{% include bordeaux_guide_header.html %}


<P>	The most obvious thing about food in France is that it's French. Not that 
you can't get British food, or most things anyway, but like French food in 
the UK it costs more. Fortunately it's not too hard to get used to the 
fact that while a 'cheese sandwich' is usually a couple of slices of 
Sunblest sliced white bread with Gateway/Sainsbury's cheddar cheese in it, 
<i>un sandwich au fromage</I> is more likely to be French bread filled with 
French cheese <i>.</I> 


<P>	Unless you're in <i>Village 1</I> , where there are no kitchens, you have 
the choice of cooking for yourself or eating in the <i>resto 
universitaire</I> . Both will cost roughly the same so what you eat 
probably depends on whether you can cook better food than you get in the 
<i>RU</I> (can you boil an egg?) and whether or not you can be bothered to 
trek off to the supermarket. A lot of the French students consider a 
fridge and an individual hotplate essential for their room.

<H2><i>Restaurants Universitaires</I> </h2>

<P>	There are three <i>restos universitaires</I> on the campus: <i>RU1, 
RU2</I> and <i>RU3</I> which are next to <i>V1, V2</I> and 
<i>V6</I> respectively. There is also <i>RU Central</I> next to <i>Place de 
la Victoire</I> . They all serve the same sort of stuff: you get a starter, 
main course, desert, as much bread as you want and sometimes salad. 
Usually it's not that bad, and occasionally you'd actually go as far as 
describing it as good, but then sometimes it is absolutely foul. It's 
usually lukewarm but they've thoughtfully provided microwaves so you can 
re-heat your food (and give the steaks a little more cooking). You pay 
with meal tickets that cost 12f70 each this year which is fairly good 
value, especially if you're really hungry. Alternatively you can use the 
tickets in the cafeterias. You can only buy the tickets between 11 a.m. 
and 1 p.m. from a counter near the entrance of <i>RU2</I> or <i>RU3</I> or 
at <i>RU1</I> up the outside staircase next to the bus stop.


</td></tr></table>

<p><img src="cartoons/chef.gif" alt="chef piccy" width=384 height=287>
<br><small><b>Experience true French cuisine in the university 
refectories</b></small>


<P>	<table width="80%" align=center><tr><td>



<P>	At lunch-times there's more choice. It's worth looking at the week's menu 
to see what you're going to get - you quickly learn what you're not keen 
on.

<P>	Each <i>RU</I> also has a cafeteria where you can get snacks like 
<i>sandwiches</I> , pizza and salads. As well as for snacks, they're good 
for sitting around in, drinking coffee or beer or whatever, and can be 
reasonably sociable.
<p> <i>RU1</I> is the biggest, brightest and newest of the three and the 
only one with bizarre modern art on the walls.

<P>	In the cafeteria you can buy drinks, cakes and croissants and at 
lunch-time there is a salad bar and a pizza bar. It opens for breakfast at 
7.15 a.m. and stays open until about 9.15 p.m..
<p> <i>RU2</I> is only open at lunch-times although the other two are only 
about ten minutes walk away. The cafeteria has been refurbished and 
extended this year so it's clean and there is plenty of room.
<p> <i>RU3</I> is fairly dull. So is the cafeteria.

<H2>	St. Michel</H2>

<P>	 <i>St. Michel</I> is the 'Latin quarter' next to the river around 
<i>Place St. Michel</I> and has more small restaurants than you can shake a 
baguette at. Here, everyone speaks Spanish or Portuguese and the bars and 
restaurants are cheap and cheerful so there is definately a good time to 
be had. Many of the small restaurants offer a fixed price menu that 
includes four courses, bread and wine for less than a fiver. They're 
friendly enough and make a great place to go with twenty of your mates.


<H2>Place Gambetta</H2>

<P>	There is a small road leading off <i>Place Gambetta</I> on the corner 
diagonally opposite <i>Porte Dijeaux.</I> Here, you will find a plethora of 
exotic take-aways where you can buy kebabs, paella and sundry Chinese 
delicacies.


<H2>Top Restaurants</H2>

<P>	Worth a look is <i>Chez Mario</I> - a small restaurant and bar in <i>St. 
Michel</I> as described above. Another restaurant is <i>Restaurant La 
Petite Savoie</I> - not especially cheap but serves <i>La Raclette</I> , a 
Swiss cheese speciality, in huge quantities; and <i>McDo</I> on <i>Place de 
la Victoire</I> (just kidding!). <i>Le Phen&eacute;cien</I> on <i>Rue St. 
Cath&eacute;rine</I> near <i>Place de la Victoire</I> does good kebabs.

<P>	</td></tr></table>

</center>


{% include bordeaux_guide_footer.html %}


</body>
</html>
