---
title: Getting About
description: Part of a guide for clueless ERASMUS students living in Bordeaux.
---
{% include bordeaux_guide_header.html %}


<P>	
<h2>Getting to	<i>Bordeaux</I> </h2>

<img src="cartoons/quickest.gif" align=right width=276 height=384
	  alt="getting there piccy">


<P>	The quickest way to Bordeaux is to fly. You can get a fairly cheap ticket 
from the travel shop in the students' union building or Campus Travel. The 
main problem with flying is the luggage limit - 20-23 kg in your main 
luggage. They don't usually weigh your hand luggage so fill it up with 
heavy things like books.


<P>	The cheapest way is by coach. A single from Victoria coach station in 
London with Eurolines costs [sterling]57 this year. There is no weight 
limit although you're only supposed to have two cases. You're 
basically limited by how much you can carry.


<P>	The easiest way to get to Bordeaux is to convince someone, such as a 
parent, that they would love nothing more than to drive you there. There 
would also have the added advantage that you can take your hi-fi, bike, 
microwave, fridge, etc.


<P>	An alternative is to fly or get the train to Paris and then get the TGV 
from there.


<H2>Getting to the Campus</h2>


<P>	If you're coming by car: take exit 16 <i>direction Talence</I>  from the 
<i>rocade</I>  (the <i>Bordeaux</I>  motorway orbital), follow signs to 
<i>Talence</I>  and then to the <i>Domaine Universitaire</I> .


<P>	There are two ways of getting from the airport to the campus by bus - the 
easy way and the hard way. The easy way is to get the <I>Navette</I> to <i>Gare St. Jean</I> , which costs a few quid, and then get 
a 7 or 8 to <i>Place de la Victoire</I> followed by an F from the stop 
outside bar <i>Le Plana</I> .

<P>	The hard way is to take the 73 from, the airport to <i>Place Charles de 
Gaulle</I> in <i>Merignac</I> and then cross the road to catch a 30 that's 
going towards <i>Place Wilson, Talence</I> . Get off at <i>Village 1</I> for 
<i>Village</I> 1, Stadium <i>Universitaire</I> for <i>Village 2</I> and 
<i>Fontaudin</I> for <i>Village 3</I> . If you're going to one of the other 
halls you're better off just getting the <i>navette</I> to the station.

<P>	It's much easier to get a taxi, of course, but it costs about twenty quid.

<P>	<h3>
	Buses
</h3>


<P>	There is a lot that you need to know about how the buses work in 
<i>Bordeaux</I> . As a student you can use the cheaper <i>Tarif 
R&eacute;duit</I> tickets but you need to have a <i>Carte Bordeaux 
Etudiant</I> which costs 30F for the year. If you do the language course in 
September you may get one when you register; otherwise you need to go to 
one of the offices of the <i>CGFTE</I> , the bus company, with your 
university student card and a passport photo. The tickets are very cheap 
and you buy them in advance in strips of ten at newsagents. Ask for <i>un 
carnet de tickets de bus au tarif r&eacute;duit</I> . You can get copies of 
the timetables from the <i>CGFTE</I> shop or from the roving information 
bus that you sometimes see on the campus.

</td></tr></table>

<p><img src="cartoons/bus.gif" alt="bus piccy" width=432 height=245>
<br><small><b>Queueing for the bus</b></small>


<P>	<table width="80%" align=center><tr><td>

When you get on the bus you have to stamp your ticket in one of the orange 
machines. This puts the time and date on the ticket. You can stamp the 
same ticket up to four times, to change bus, provided that the last time 
stamp is within an hour of the first stamp. This also means that you can 
get to <i>Casino</I> and back on one ticket if you're quick.


<P>	There are no individual ticket inspectors, but every now and then a whole 
group get on the bus at once to check tickets. If your ticket hasn't been 
stamped, is invalid or you don't have the <i>Carte Bordeaux 
Etudiant</I> and the <i>talon</I> that comes with each strip of tickets then 
you get an on the spot fine of 100F. You don't have to pay the fine, but 
if you decide not to, you will be dragged off the bus and marched into the 
police station.

<P>	<h3>
	Planes
</h3>

<P>	From <i>Bordeaux</I> you can fly direct to Gatwick (British Airways) and 
Heathrow ( <i>Air France</I> ). With <i>Air Inter</I> you can fly to 
<i>Paris</I> very cheaply as an ISIC card gets you student prices on 
flights. The nearest equivalent to a Student Union Travel Shop is <i>OTU 
Voyages</I> on the side of <i>RU2</I> , open 9.30 a.m. - 3 p.m., which is 
part of the <i>Office de Tourisme Universitaire</I> . There is also <i>USIT 
Voyages</I> at the end of <i>Rue St. Catherine</I> by <i>Place de la 
Victoire</I> which is the French version of Campus Travel.


<P>	<h3>Bikes</h3>


<P>	A bike is useful for getting around the campus but cycling on the roads is 
best left to the brave and the foolish. If you bring one make sure you've 
got a good lock and bear in mind that it's probably completely 
uninsurable. There aren't many things to lock your bike to either. A lot 
of people buy a cheapish second hand bike in <i>Bordeaux</I> .

<P>	<h3>
	Trains
</h3>


<P>	The <i>TGV</I> , the French Intercity, is a good way of getting about 
France if you want to go and visit people or whatever. If you book at 
least thirty days in advance you can buy a <i>Joker 30</I> ticket which is 
far cheaper than the normal price. There is also a <i>Joker 8</I> ticket if 
you book eight or more days in advance. If you can't book in advance to 
somewhere like <i>Paris</I> you may well be better off getting a cheap 
internal flight. You can also get a <i>Carissimo</I> pass which for 195F 
gives a 50% discount on four (single) journeys.


<P>	On Friday and Sunday evenings, the F bus runs directly between the campus 
and <i>Gare St. Jean</I> 
</td></tr></table>

</center>


{% include bordeaux_guide_footer.html %}


</body>
</html>
