---
title: Keeping In Touch
---
{% include bordeaux_guide_header.html %}


<P>	Never rely on post from the UK - it can take ages for no reason at all.
Normally letters take 2-4 days. The standard rate stamps are good for letters
in the ec and you can buy them at newsagents.
<P>	It goes without saying that using the telephone to call the uk is not cheap.
The best plan is to try and convince your parents to give you a bt Chargecard
so you don't have to pay. Some phone boxes do not receive incoming calls so
remember this if you are getting someone to call you back. The price bands are
usually posted in the phone boxes; calls are cheapest after 10.30&nbsp;p.m. and at
the weekend.

</td></tr></table>

</center>


{% include bordeaux_guide_footer.html %}


</body>
</html>
