---
title: Names And Numbers
---
{% include bordeaux_guide_header.html %}



<br>
<h2>Bars and Restaurants</h2>

<p>The Cambridge Arms, <i>27 rue Rode, 33000 Bordeaux</I> 

<p>The Connemara, 18 <i>cours d'Albret, 33000 Bordeaux</I> 

<p>The Wild Geese, <i>1 quai Sainte Croix, 33800 Bordeaux</I> 

<p>The Yorkshireman, <i>2 rue Pacaris, 33400 Talence</I> 


<H2>Bookshops</h2>

<p><i>Librarie Mollat</I> , <i>rue Porte Dijeaux</I> ; <i>rueVital-Charles</I> 

<p><i>Fnac</I> : <i>St. Christoly</I>  shopping centre; <i>Place Jean-Moulin</I> 

<p><i>Virgin Megastore</I> , <i>Place Gambetta</I> 

<p><i>Mon Livre</I> , 124 <i>avenue du Docteur-Albert Schweitzer </I> on the F busroute between <i>Village 2 </I> and <i>Village 3</I> .


<H2>Other Useful Numbers</h2>

<table cellpadding=0 cellspacing=10>

<tr><td>
Ambulance (SAMU)</td><td>05.56.96.70.70</td></tr>

<tr><td>
(in an emergency)</td><td>15</td></tr>

<tr><td>
Fire Brigade</td><td>18</td></tr>

<tr><td>
Police</td><td>17</td></tr>

<tr><td>
Telephone</td><td>14</td></tr>

<tr><td>
Gas</td><td>05.56.79.40.40</td></tr>

<tr><td>
Electricity</td><td>05.56.99.04.04</td></tr>

<tr><td>
Tourist Office</td><td>05.56.44.28.41</td></tr>

<tr><td></td><td>05.56.34.39.39, 05.56.91.64.70</td></tr>

<tr><td>
Airport</td><td>05.56.34.50.50</td></tr>

<tr><td>
<i>SNCF</I> </td><td>05.56.92.50.50 (info) </td></tr>

<tr><td></td><td>05.56.92.60.60 (bookings)</td></tr>

<tr><td>
Cr&eacute;dit Lyonnais - 27 cours Gambetta, Talence</td><td>05.56.80.57.63</td></tr>

<tr><td>
Banque Nationale de Paris - 471, cours de la Liberation, Talence</td><td>05.56.80.73.22</td></tr>

<tr><td>
Soci&eacute;t&eacute; G&eacute;n&eacute;rale - 258, cours Gambetta</td><td>56 80 4404</td></tr>

<tr><td>
<i>Soci&eacute;t&eacute; G&eacute;n&eacute;rale </I> (campus branch, next tocafe <i>Chez Jaques</I> , <i>Bx. III</I> )</td><td>05.56.84.93.06</td></tr>

<tr><td>
Pr&eacute;fecture de la Gironde</td><td>05.56.90.61.94</td></tr>

<tr><td>
Commisariat de Pessac - 49, avenue Gen&eacute;rale Leclerc, Pessac</td><td>05.56.36.80.80</td></tr>

<tr><td>
Commisariat de Talence - 311, cours de la Liberation, Talence</td><td>05.56.80.50.44</td></tr>

<tr><td>
Mus&eacute;e d'Aquitaine</td><td>05.56.01.51.02</td></tr>
</table>

<H2>Other Useful Addresses</h2>


<P>	British Consulate, <i>353 boulevard Pr&eacute;sident Wilson, 33073 Bordeaux</I> ; 05.56.42.34.13


<P>	Eurolines, <i>32 rue Charles Domercq, 33800 Bordeaux</I> ;  05.59.59.19.33


<P>	CROUS, 18 rue du Hamel, 33000 Bordeaux


<P>	Caisse d'Allocations Familiales, rue du Docteur Gabriel Pery, 33078 Bordeaux


<P>	Auberge de Jeunesse, 22 cours Barbey

<h2>Sworn translator:</h2>


<P>	Michael Scott, <i>5, rue Roger Allo, 33000 Bordeaux</I>  05.56.79.10.13

</tr></table>

</center>


{% include bordeaux_guide_footer.html %}


</body>
</html>
