---
title: Night-Life
---
{% include bordeaux_guide_header.html %}

<h2>	On Campus</h2>

<p>	At first it may seem that the campus is completely dead after dark. 
	It is. If you don't feel like studying have a party in your room, go to one of the cafeterias until they close or into town. Of course, if you do have a party, you have to turn the music off at 10.30 p.m. and go to bed like all of the other students...


<p>	<img src="cartoons/amusez.gif" alt="piccy" width=247 height=255>

<p>	The night-life in <i>Bordeaux</I> is very good - there are more places to 
	go than there are nights in the year. The main places in town are <i>Place de la Victoire</I>  and <i>Place Gambetta</I>  although there are small bars all over the place. Bars stay open until at least 2 a.m. but there are quite a few places that stay open later.

<h2>	Place de la Victoire</h2>

<p>	This is where the bus F gets in to town and is the main student hangout, 
	especially on Thursday nights. It seems as if this is the 'centre' of <i>Bordeaux</I>  because directions to places tend to start off 'well you know <i>Place de la Victoire</I> ...'.

<h2>	Place Gambetta</H2>

<p>	<i>Place Gambetta</I> is a bit more upmarket than <i>Place de la 
	Victoire</I>  and has the most chic cafes in town. They are not cheap. A typical example is <i>Caf&eacute; Regent</I> , which is great to sit outside because there are big heaters so you don't get cold. Possibly the trendiest place to be for a young <i>Bordelais</I>  is the cafe at the top of Virgin Megastore or even just hanging around on the pavement outside.

<h2>	Cinemas</h2>

<p>	There is quite a good choice of cinemas and they all do a student rate. 
	On certain days there are special tariffs - often 25F. There is <i>Le Jean Eustace</I>  in <i>Pessac</I>  and in town there are four - <i>Le Fran&ccedil;ais, Gaumont, Trianon Jean Vigo</I>  and <i>UGC</I>  - all around <i>Place Gambetta</I> . There's also one near <i>Barri&egrave;re St. Gen&egrave;s</I>  but no-one's tried it out.


<H2>	Clubs</H2>
<P>	Clubs are expensive. Entry is usually at least a fiver although this 
includes a drink. Best known are <I>Le Caesar</I> in town and <I>Macumba</I> in <I>Merignac</I> which you can only get to by car. There is also <I>La Lune</I> on <I>Place des Capucins</I> near <I>Place de la Victoire</I> which is really just a bar with bands that stays 
open until 5 a.m..


<H2>	English &amp; Irish pubs</H2>
<P>	If you're feeling really homesick or just can't do without a pint of stout 
or bitter, a game of darts or British football on the telly then there are 
several real pubs. It can make a change from the local bars although you 
pay through the nose for it - where else does a pint of Guinness cost over 
four quid? There's The Connemara <I>,</I> The Dick Turpin <I>,</I> The Yorkshireman, The Cambridge Arms, The Golden Apple
 and The Wild Geese.

They are all very friendly and are even popular with the French. The Dick 
Turpin serves good pub food with such rare delights as baked potatoes with 
Cheddar cheese and Heinz baked beans.


<H2>	Getting Back to the Campus</H2>

<P>	To get back after a night out you can either get the last bus from <I>La Victoire</I> at about 1 a.m., hitching in small groups isn't too hard, 
you can walk which takes at least an hour, a taxi costs about a tenner or 
you can stay out on the town until the first bus at 6.45 a.m.. The last F 
bus doesn't stop at <I>La Victoire</I> on Thursdays so you have to go to the previous stop: <I>Bourse du Travail</I> on <I>cours A. Briand</I> .


<H2>	Our Favourite Bars</H2>
<P>	<i>
	Le Plana, Chez Auguste</I> and <I>El Bodega</I> on <I>Place de la Victoire</I> , The Connemara, <I>Texaco - Tex Mex Restau-rant</I> (second side street to the right after <I>Nouvelles Gal&eacute;ries</I> ) and <I>El Bodega</I> , another Spanish bar which is just up a side street off <I>cours de Chapeau Rouge</I> opposite the <I>Grand Th&eacute;&acirc;tre</I> 
</td></tr></table>

</center>


{% include bordeaux_guide_footer.html %}


</body>
</html>
