---
title: Odds And Ends
description: Part of a guide for clueless ERASMUS students living in Bordeaux.
---
{% include bordeaux_guide_header.html %}



<h2>Things to Take</h2>


<P>	Your passport, an ISIC card, E111 form, birth certificate (the full length 
one with details of both parents and not the small one), an official 
stamped translation into French of the birth certificate, insurance, UK 
student card, photocopies of everything including the first few pages of 
your passport, lots and lots of passport photos, money.


<P>	Get the ISIC card from the Union Travel Shop or Campus Travel and the E111 
from the post office. Endsleigh do quite a good deal on insurance. It 
would be worth seeing if you can get the translation of the birth 
certificate done in the UK; it costs about fifteen pounds in 
<i>Bordeaux</I> . Bring enough money for the first couple of weeks because 
if you open a bank account, it will take that long to become operational. 
When you move in to hall they ask for a month's rent in advance plus 
another month's rent as a caution so be sure to have enough cash for that. 
Rent is about [sterling]80 a month this year.

<P>	Other things that would be useful are

<p><ul>
<li>An official letter from your department in the UK to show that you are 
a student there, with dates (e.g. 1993 - 1997) and what course you are 
on</li>
<li>a Visa debit or credit card to use at cash machines and in shops</li>
<li>a washing line to use in your room</li>
<li>waterproofs or an umbrella for the monsoon season</li>
<li>a rug for your room</li>
<li>if you can manage to bring it, a fridge</li>.
</ul>


<P>	You will need the passport photographs to put on just about any form you 
fill in. It's worth doing them in the UK because they are much cheaper, 
especially in the Students' Union building.

<P>	If you haven't got room for a stereo and all your tapes, it's still worth 
taking a radio because there are about thirty fm radio stations in 
<i>Bordeaux</I>  so there's a lot of choice and sixty percent of the music 
isn't French anyway. See the Culture &amp; Tourism section for a listing 
of the stations.


<P>	It's worth mentioning that there's no point in taking a television because 
the French television standard is SECAM and won't work with a British pal 
television.

<h2>Things You Can't Get...</h2>


<P>	... in France and you wish you'd taken. Marmite, baked beans or anything 
else with Heinz written on it, jelly, anti-perspirant (this does exist but 
is very hard to find), pint glasses (these are even harder to find), Super 
Noodles, custard...

<h2>Things Worth Getting</h2>


<P>	Once you are in <i>Bordeaux</I>  there are various things that are probably 
worth having. '<i>Clubs et Concerts</I> ' is a small fortnightly guide 
available free in most bars which contains listings of restaurants, bars, 
clubs and concerts. In newsagents you can buy a publication called <i>Le 
Petit Fut&eacute;</I>  which is a fairly comprehensive city guide 
containing names, addresses and descriptions of everything from shoe shops 
and opticians to bars and restaurants. Also worth getting are: a street 
plan of the town so you can make use of all the interesting addresses you 
collect, a plan of the bus routes so you can work out how to get there, a 
bike if you're stuck in <i>V6</I>  or somewhere, a phone card and some 
stamps.

</td></tr></table>

</center>


{% include bordeaux_guide_footer.html %}


</body>
</html>
