---
title: Other Activities
description: Part of a guide for clueless ERASMUS students living in Bordeaux.
---
{% include bordeaux_guide_header.html %}


<P>	Although clubs and societies don't really exist there is still plenty to 
get involved in. The only real way to know what there is, is to keep an 
eye on notice-boards such as the one in the entrance of the <I>Maison du defle.</I> 


<P>	<H2>	Sport</H2>

<P>	Again, sports facilities are not that good considering the number of 
students. There is a big sports hall with squash courts and 
badminton/tennis/basketball courts, a newish stadium and lots of outdoor 
tennis and basketball courts as well as other buildings. Something else 
you will see are the big walls that are used for playing <I>pelotte,</I> a Basque game that is a sort of outdoor squash, as well as 
football and rugby pitches. The easiest way to join things is to go to the 
sports office in whichever of the three universities you have registered 
in where you can find out about organised sessions and teams. There is a 
booklet you can get that contains the times for all of the organised 
sessions. In <I>Bordeaux I</I> the sports office is in the main hallway on the ground 
floor of the <I>1
	<sup>
		e
	</sup>
	Cycle</I> building and in <I>Bordeaux III</I> it is on the ground floor in <I>B&acirc;timent L.</I> 
<P>	If you want to play tennis it is free and you can book a court at the 
tennis office opposite <I>RU3</I> where the tennis courts are.

<img src="cartoons/caesar.gif" align=right width=152 height=337
	  alt="acting piccy">

<H2>	Drama</H2>

<P>	Productions are put on in <I>Bordeaux III</I> by <I>Soci&eacute;t&eacute; Michel de Montaigne Shakespeare</I> . If you want to 
get involved look for posters on the noticeboards in <I>Bordeaux III</I> . They put on plays in both French and English so they 
are always keen to recruit English actors and actresses.


<H2>	Music</H2>

<P>	Rehearsals for the university orchestra are on a Monday night, 8 p.m. 
until 11 p.m. in <I>Amphi 700, Bordeaux III</I> . To get in, use the right hand fire exit and 
not the main entrance. Something about the burglar alarms. Hell, use the 
main entrance anyway.

<P>	The conductor is <I>M. Logier</I> , a Latin lecturer. The music is very classical and there 
tends to be a lot of rehearsing on just one or two pieces until they are 
very good. This year's repertoire includes Haydn's 44th and 45th 
symphonies, Mozart's 25th and Bach's Brandenbourg Concerto No.1. The 
concerts are usually just before Christmas and in the summer and after 
each one there is a free meal which makes playing all the more worthwhile!

<P>	There are also various choirs. There is a <I>DEFLE</I> choir which rehearses in the <I>Maison du DEFLE</I> on Monday lunchtimes. There is also one run by a 
student teacher, which is very popular with ERASMUS students. Rehearsals 
are at 8 p.m. Mondays in <I>Village 5</I> . To find it, go in the main entrance of A-B block and go 
through the double doors at the back-right of the foyer. The repertoire 
this year includes Brazillian music, negro spirituals and jazz.


<P>	Look out for posters around <I>Bordeaux III</I> at the beginning of the year to see what else there is.

</td></tr></table>

</center>


{% include bordeaux_guide_footer.html %}


</body>
</html>
