---
title: Shopping
description: Part of a guide for clueless ERASMUS students living in Bordeaux.
---
{% include bordeaux_guide_header.html %}


<H2>	Shopping in Town</H2>

<P>	To see all of the main shops, start at <I>Place de la Victoire</I> and walk down <I>Rue St. Catherine</I> , turn left at <I>Gal&eacute;ries Lafayette</I> and walk up <I>Rue Porte Dijeaux</I> to <I>Place Gambetta</I> where there is a Virgin Megastore. As well as the <I>Meriadeck</I> shopping centre there is the <I>St. Christoly</I> shopping centre between <I>Cath&eacute;drale St. Andr&eacute;</I> and <I>Rue Porte Dijeaux</I> where there is a big <I>Fnac</I> , which sells books, music and electrical gear. To get there, get off the F bus by the cathedral at <I>Pey Berland</I> three stops after <I>La Victoire</I> .

</td></tr></table>

<p><img src="cartoons/nourrir.gif" alt="bus piccy" width=261 height=230>
<br><small><b>There are plenty of cheap places to get food</b></small>


<P>	<table width="80%" align=center><tr><td>


<P>	Some things cost a lot more in France such as CDs, developing photos and getting a haircut. Generally the cheapest place is <I>Auchan</I> in the <I>Meriadeck</I> shopping centre which has three floors and sells just about everything.

<H2>	Supermarkets</H2>

<P>	The most convenient supermarket is <I>Casino</I> just outside the campus on the F/U bus route to town. It's quite high quality and not the cheapest one. Other supermarkets include <I>LeClerc</I> in <I>Pessac</I> , <I>G&eacute;ant Casino</I> in <I>Pessac</I> near the motorway and an absolutely huge <I>Auchan</I> at <I>Bordeaux Lac</I> . Generally, bigger means cheaper, although you always seem to end up with more than you can carry and spend too much anyway.

</td></tr></table>

</center>


{% include bordeaux_guide_footer.html %}


</body>
</html>
