---
title: The University
---
{% include bordeaux_guide_header.html %}


<P>	There are actually three separate universities on the campus: <i>Bordeaux I
</I> - sciences, law and economics;<i> Bordeaux II </I> - medicine and sport; and
<i>Bordeaux III </I> - arts subjects. There are a lot of students - 55 000 in
all of which 26 000 are at <i>BxI</I>  - which explains why the campus gets so
busy and clogged up with cars during the day. The administration of each of the
three universities is completely separate so each one doesn't know anything
about what goes on in the other two. This can cause problems if you're
registered at two separate universities doing, say, language courses in
<i>Bordeaux III </I> and studying sciences in <i>Bordeaux I</I> .
<P>	The size of the university is often a problem when trying to find out about
something. Very often when you ask some member of staff or the administration
if you can do it or if it is available you get the reply <i>'non'</I>  or
<i>'cela n'existe pas pour les &eacute;tudiants' </I> which both translate as 'I
don't know and I'm not going to make any helpful suggestions'... The secretary
in the <i>Maison du DEFLE</I> , however, is actually fairly helpful.

</td></tr></table>

</center>


{% include bordeaux_guide_footer.html %}


</body>
</html>
