---
title: The Campus
description: Part of a guide for clueless ERASMUS students living in Bordeaux.
---
{% include bordeaux_guide_header.html %}


<P>	Here is a small copy of the map you will undoubtedly get loads of copies of
during your first couple of weeks in <i>Bordeaux.</I>  Indicated are some of the
more important places on the campus as well as places mentioned in this guide.
As well as the stadium at the bottom left of the map, there is the old stadium
next to <i>Village 2</I>  which is still used for football. The sports hall also
houses the squash courts and the climing wall.
<P>	To give you a rough idea of scale, it takes about ten minutes to walk from
<i>RU2</I>  to <i>RU1</I>  so <i>Village 6</I> , for example, really is a bit off
the beaten track.

</td></tr></table>

<p><img src="images/campus.gif" alt="campus map (59 Kb)" width=742 height=447>

</center>


{% include bordeaux_guide_footer.html %}


</body>
</html>
