---
title: University Facilities
---
{% include bordeaux_guide_header.html %}


<P>	Access to university facilities can sometimes be a little tricky and if 
you then consider that there are about 55&nbsp;000 students at the three 
universities, you may well come to the conclusion that facilities on the 
campus leave much to be desired, especially when compared to those of a 
British university.

<H2>	Photocopiers</H2>

<P>	Photocopies are cheap in France. There are photocopiers in all of the 
libraries including the <I>DEFLE</I> library. You have to buy a 'smart card' and then charge it up to 
use it in the photocopiers. The card will cost about 30F. Beware: a card 
from the <I>defle</I> library, for example, won't work in the other libraries.

<H2>	Word Processing</H2>

<P>	There are free access word processing rooms on the first floor in <I>B&acirc;timents I,K</I> in <I>Bordeaux III</I> and on the ground floor of the
<i>1<sup>e</sup> Cycle</I> building in <I>Bordeaux I</I> .
 There are laser printers which cost six or seven pence per page.


<H2>	Libraries</H2>

<P>	The main libraries may seem a little sparse. They are. When you register 
you get a piece of paper to take to the library so you can get a library 
card. In the <I>Biblioth&egrave;que des Sciences</I> there is more to be found on the 
first floor in the <I>3&egrave;me Cycle</I> section. The main libraries have a general interest 
section as well. It is worth asking if your department has its own library.


<H2>	Laundrettes</H2>

<P>	There are laundrettes at <I>Village 5</I> and underneath <I>B&acirc;timent B</I> in <I>Village 1</I> . Avoid them on Sunday afternoons - you could be there for 
hours and hours. It is a good idea to collect the right coins for the 
machines.

<H2>	Electronic Mail</H2>

<P>	It is possible to get an e-mail account so you can mail your friends. 
However getting an account may not be all that easy because not many 
people realise that it is possible. Go to the <I>Centre des Ressources Informatiques</I> in <I>Bordeaux I</I> but you can't do it yourself, you have to find out who in 
your department deals with such things and get them to sort it out.

<P>	If you study maths or computer science you have to go to the grey 
triangular computer building in
<i>Bordeaux I</I> next to the <i>1<sup>e</sup> Cycle</I> building. Ask for a 
computer account in the office on the first floor.

</td></tr></table>

</center>


{% include bordeaux_guide_footer.html %}


</body>
</html>
