body {
	font-family: 'Source Sans Pro', sans-serif; }

/* Navigation and page masthead. */

.navbar {
	margin: 10px 0 0 0; }
section nav a {
	color: inherit;
	text-transform: uppercase;
	text-decoration: none; }
.nav > li > a {
	padding: 0 1em; }

h1, h2, h3 { 
	font-weight: 300; }
h3 { 
	clear:left; }

.content p, .content li {
	font-size: 120%;
	max-width: 40em; }
.content blockquote p, .content blockquote li {
	font-size: 90%;
	max-width: 36em; }
.content img {
	max-width: 100%;
	height: auto; }

section {
	min-height: 10px;
	color: white; }
body.home section {
	min-height: 168px; }

section a {
	text-decoration: underline; }
section h2 a {
	color: inherit;
	text-decoration: none; }

section.main {
	background-color: #334D5C; }

section.development {
	background-color: #45B29D; }

section.writing {
	color: #334D5C;
	background-color: #EFC94C; }
section.writing .sites a {
	background-color:  #334D5C; }

section.speaking {
	background-color: #E27A3F; }

section.music {
	background-color: #DF5A49; }

section.speaking a, section.music a {
	color: #B2D9FE; }


/* Home page. */

.picture {
	margin: 20px 20px 0 0; }

.sites {
	padding-top: 17px;
	line-height: 35px; }
.sites a:hover {
	background-color:  #428bca; }


/* Main section */

.thumbnail.pull-right {
	margin: 0 0 20px 20px; }


/* Page footer */

footer {
	margin-top: 4em;
	padding: 2em 0;
	border-top: 1px solid #ccc;
	font-size: 85%; }
.home footer {
	border-top: none; }
footer a {
	color: inherit;
	text-decoration: underline; }


/* Original pages. */
.content img {
	margin-top:0; margin-bottom:1em; margin-left:1em; margin-right:1em; }
.blog .content img {
	margin: 0; }
.content img.framed {
	border:solid 4px black; margin-left:0; float:left; }
.content img.square {
	border:solid 4px black; margin-left:0; float:left; width:320px; height:320px; }
.content img.inline {
	border:solid 4px black; margin:0; }
.content img.icon {
	border:none; margin:0; }
.content div.indent { 
	margin-left: 328px; padding-left: 1em; min-height:328px; clear:left; }

/* /blog/ */

.blog h3.title {
	margin-bottom: 0; }

.related {
	font-weight: 600;
	margin-top: 3em; }

.social img {
	margin-right: 32px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%); }
.social img:hover {
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none; }
	
.social, .social2, .comments {
	margin-top: 3em; }

blockquote.big {
background-color: #334D5C;
color: white;
border-left: 0;
padding:1em;
margin-top:2em;
max-width: 26em; }

blockquote.big p {
	font-size: 2em; }

blockquote.big a {
	color: inherit; }
	
.solid-one {
	background-color: #334D5C ! important; }
.solid-two {
	background-color: #45B29D ! important; }
.solid-three {
	color: #334D5C ! important;
	background-color: #EFC94C ! important; }
.solid-four {
	background-color: #E27A3F ! important; }
.solid-five {
	background-color: #DF5A49 ! important; }

.bordered {
	border: 1px solid #ccc; }
