/* Layout */

body { margin:0; display: flex; flex-direction: column; align-items: center; }
section { display: flex; flex-direction: row-reverse; justify-content: center; min-height: 0.63em; width: 100%; }
section h2 { width: 23em; margin: 0; padding: 0.5em 0; }

nav { width: 14em; margin-top: 0.5em; }
nav ul { padding: 0; display: flex; justify-content: space-between; width: 9em; margin-top: 0; }
nav li a { padding: 0 1em; }

article, section p, article > header { width: 60em;}
article > * { width: 40em; }
article > .banner { width: 960px; }

h1, h2, h3 { margin: 0.66em 0 0.3em;}
p, li { margin: 0 0 0.66em; }
header p { margin-bottom: 1.25em; }
article table { width: auto; border-collapse: collapse; margin: 1.5em 0; }
article th, article td { border-top: 1px solid; border-bottom: 1px solid; padding: 0.3em 0.5em; vertical-align: top; }

.row { display: flex; width: 63em; }
.column { width: 19em; margin-right: 2em; }
.column-2 { width: 40em; margin-right: 2em; }

.social { margin-top: 3em; }
.social img { margin-right: 32px; }
.speaking article .speakerdeck-embed-wrapper > * { width: 640px !important; height: 360px !important; }
.blog article img { vertical-align: middle; margin: 0 1em 0.5em 0; }

footer { width: 80em; margin-top:4em; padding: 1.5em 0; border-top: 1px solid; }

@media all and (max-width: 1023px) {
  section h2 { width: 64%; }
  nav { width: 32%; }
  article, section p, article > header, article > *, footer { width: 96%;}
  article > * { max-width: 40em; }
}
@media all and (max-width: 799px) {
  section { flex-direction: column; align-items: center; }
  section h2, nav { width: 96%; }
  section h2 { padding: 0 0 0.5em; }
  nav ul { margin-bottom: 0; }
  nav li a { padding: 0 2em 0 0; }
  .row, .column, .column-2 { display: block; width: auto; }
}

/* Text */

@font-face { font-family: "Source Sans Pro"; src: url(font/source-sans-pro/SourceSansPro-Light.ttf); font-weight: 300; font-style: normal; }
@font-face { font-family: "Source Sans Pro"; src: url(font/source-sans-pro/SourceSansPro-Regular.ttf); font-weight: 400; font-style: normal; }
@font-face { font-family: "Source Sans Pro"; src: url(font/source-sans-pro/SourceSansPro-Italic.ttf); font-weight: 400; font-style: italic; }
body { font-family: 'Source Sans Pro', sans-serif; line-height: 1.4; }
a { text-decoration: none; }

nav li { list-style: none; text-transform: uppercase; font-size: 0.9em; }
section nav a { text-transform: uppercase; text-decoration: none; }
section a:hover { text-decoration: underline; }
section h2 { font-size: 2em; }
section h2 a { text-decoration: none; }

h1, h2, h3 { line-height: 1.1; }
h1, h2 { font-weight: 300; }
h1 { font-size: 2.25em; }
h2 { font-size: 1.9em; }
h3 { font-size: 1.5em; }
article table { font-size: 90%; }
footer { font-size: 75%; }
footer a { text-decoration: underline; }

header p { font-size: 1.3em; }
blockquote.big p { font-size: 2em; }
article blockquote ul { font-size: 100%; }
article blockquote p, article blockquote li { font-size: 95%; }

.related { font-weight: 600; }
code, tt { font-size:86%; }
a.unsplash { font-family: -apple-system, sans-serif; text-decoration: none; font-size: 12px; font-weight: bold; line-height: 1.2; }
body.music strong, body.speaking strong { font-weight: normal; }


/* Colour */

section.main { background-color: #334D5C; }
section.development { background-color: #45B29D; }
section.writing { color: #334D5C; background-color: #EFC94C; }
section.speaking { background-color: #E27A3F; }
section.music { background-color: #DF5A49; }

body { color: #222; background: white; }
a { color: #428bca; }

section, section a { color: white; }
/*section.writing .sites a { background-color:  #334D5C; }
section.main a { color: #7FC4FF; }

section.development a { color: #C0E2FF; }
xsection.speaking a, section.music a { color: #B2D9FE; }*/
/*section.speaking a, section.music a { color: #B2D9FE; }*/
  

article header p, article h2, article h3 { color: #DF5A49; }
article th, article td { border-color: #ddd; }

footer { color: #777; border-color: #ccc; }
footer a { color: inherit; }

blockquote.big { background-color: #334D5C; color: white; }
blockquote.big a { color: #D9EDFF; }
blockquote.big.solid-three a { color: #005199; }
.solid-one { background-color: #334D5C ! important; }
.solid-two { background-color: #45B29D ! important; }
.solid-three { color: #334D5C ! important; background-color: #EFC94C ! important; }
.solid-four { background-color: #E27A3F ! important; }
.solid-five { background-color: #DF5A49 ! important; }

a.unsplash { background-color:#ccc; color:white; }
a.unsplash:hover { background-color: #7FC4FF; }

.social img { filter: grayscale(100%); }
.social img:hover { filter: none; }

body.blog section nav a { color: #7FC4FF; }
body.music strong, body.speaking strong { color: #DF5A49; }
