<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>

<head>
	<title>{{ page.title }}</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3676019-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body bgcolor="#ffffff" text="#333333" link="#0033ff" vlink="#001988" alink="#000000">

<center>

<table width="100%"><tr>
	<td width=64><a href="contents.html">
		<img src="images/bordeaux_icon.jpeg" width=64 height=64 border=1 alt="front cover">
	</a></td>
	<td align="center" valign="bottom">
		<h1><!--#echo var="TITLE" --></h1>
	</td>
	<td width=64></td>
</tr></table>

<hr size=6 noshade>

<table width="80%" align="center"><tr><td>

<br>
