<p><hr size=1>


<P>	<A href="https://hilton.org.uk/" title="Hilton Harbour main page">
	<IMG src="../style/hh4.png" alt="Hilton Harbour" width="96" height="62" align="left" hspace=16 vspace=16>
	Hilton Harbour</a> -
<a href="../bordeaux_guide.html">front cover</a> -
<a href="contents.html">contents</a><small>

<p><i>Everything You Always Wanted To Know About Bordeaux - A Guide For Clueless ERASMUS Students</I> &copy;1995&nbsp;P.&nbsp;Hilton All Rights Reserved World-Wide

<br>Written &amp; edited by P.&nbsp;Hilton. Designed &amp; published by P.&nbsp;Hilton.
Contributions by G.&nbsp;Pharoah, D.&nbsp;Richardson.Illustrations by Yann.
WWW version &copy;1997&nbsp;P.&nbsp;Hilton.</small>