<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>

<head>
	<title>{{ page.title }}</title>
</head>

<body bgcolor="#ffffff" text="#333333" link="#0033ff" vlink="#001988" alink="#000000">

<center>

<table width="100%"><tr>
	<td width=64><a href="contents.html">
		<img src="images/bordeaux_icon.jpeg" width=64 height=64 border=1 alt="front cover">
	</a></td>
	<td align="center" valign="bottom">
		<h1><!--#echo var="TITLE" --></h1>
	</td>
	<td width=64></td>
</tr></table>

<hr size=6 noshade>

<table width="80%" align="center"><tr><td>

<br>
