---
categories: blog
layout: hh
---

<div class="row">
<div class="col-md-8">
<h1>Blog</h1>

<p class="tags">
<a class="label label-default" href="../tag/software">#software</a>
<a class="label label-default" href="../tag/product">#product</a>
<a class="label label-default" href="../tag/api">#API</a>
<a class="label label-default" href="../tag/data">#data</a>
<a class="label label-default" href="../tag/design">#design</a>
<a class="label label-default" href="../tag/nocode">#NoCode</a>
<a class="label label-default" href="../tag/agile">#agile</a>
<a class="label label-default" href="../tag/documentation">#documentation</a>
<a class="label label-default" href="../tag/documentation">#book</a>
<a class="label label-default" href="../tag/maintenance">#maintenance</a>
<a class="label label-default" href="../tag/naming">#naming</a>
<a class="label label-default" href="../tag/programming">#programming</a>
<a class="label label-default" href="../tag/comments">#comments</a>
</p>

{% for page in site.categories.blog %}
<h3 class="title"><a href="{{ page.url | replace:'.html','' }}">{{ page.title }}</a></h3>
<p>{{ page.description }}
<span class="text-muted">- {{ page.date | date: "%-d&nbsp;%B&nbsp;%Y" }}
{% for tag in page.tags %}#{{ tag }} {% endfor %}</span></p>
{% endfor %}

<h2>Older articles (2005-2014)</h2>

<p>172 articles from mid-2005 to mid-2014 are published on the <a href="lunatech">Lunatech Blog</a>.</p>

</div>

<div class="col-md-4">
<h2>97 Things Every Java Programmer Should Know</h2>
<p><a href="http://shop.oreilly.com/product/0636920048824.do" title="97 Things Every Java Programmer Should Know">
<img src="97-things-java.jpg" alt="book cover" style="width:150px"></a></p>
<p><a href="http://shop.oreilly.com/product/0636920048824.do">97 Things Every Java Programmer Should Know</a>
edited by Kevlin Henney, Trisha Gee, with contributions by Peter Hilton, published by O’Reilly Media in May 2020.</p>

<h2>Play for Scala</h2>

<p><a href="http://bit.ly/playscala2p"><img src="../picture/illustration/play-for-scala-cover.jpg"/></a></p>

<p><a href="http://bit.ly/playscala2p">Play for Scala</a> by Peter Hilton, Erik Bakker and Francisco Canedo was published by Manning Publications in September 2013. The book teaches web developers how to use the <a href="http://www.playframework.com">Play Framework</a> to build web applications using the <a href="http://www.scala-lang.org">Scala</a> programming language.</p>

<p>Peter Hilton presented widely on the topic and was a certified trainer for Typesafe’s
<a href="http://typesafe.com/how/training/fasttracktoplaywithscala">Fast Track to Play with Scala</a> training course,
before they rebranded as <a href="https://www.lightbend.com/">Lightbend</a>.</p>


<h2>Cafe reviews</h2>

<p>Independent cafe and restaurant reviews, from before TripAdvisor was invented:</p>

<p>🇳🇱
<a href="../rotterdam.html" title="Rotterdam Cafes, Bars &amp; Restaurants">Rotterdam</a>,
<a href="../maastricht.html">Maastricht</a>,
<a href="../amsterdam.html" title="Amsterdam lunch cafe reviews">Amsterdam</a>,
<a href="../delft.html" title="Delft cafe reviews">Delft</a></p>

<p>🇨🇦 <a href="../kw.html">Kitchener-Waterloo</a></p>

<p>🇪🇸 <a href="../madrid/index.html">Madrid</a></p>

<p>🏴󠁧󠁢󠁥󠁮󠁧󠁿
<a href="../cambridge.html" title="Cambridge Cafes &amp; Restaurants">Cambridge</a>,
<a href="../oxford_cafes.html">Oxford</a>,
<a href="../london.html" title="London Cafes">London</a></p>

<p>🇮🇹 <a href="../florence.html" title="Florence Cafes &amp; Restaurants">Florence</a></p>
<p>🇧🇪 <a href="../leuven.html" title="Leuven Cafes">Leuven</a>,
<a href="../antwerp/index.html" title="Antwerp Cafes">Antwerp</a></p>

<p>🇫🇷 <a href="../pppp.html" title="Paris Cafes &amp; Restaurants">Paris</a>,
<a href="../hyeres.html" title="Hyères Cafes &amp; Restaurants">Hyères</a></p>

<p>🇮🇪 <a href="../galway.html" title="Galway Cafes">Galway</a></p>
<p>🇱🇺 <a href="../luxembourg.html" title="Luxembourg Cafes">Luxembourg</a></p>
<p>🇦🇹 <a href="../out_in_vienna.html" title="Out in Vienna">Vienna</a></p>

<h2 id="others">Other people’s writing</h2>
<p><a href="/obc/">Theatrical Adventures - Musings and memories of a thespian</a>, by O.B. Clarence</p>
<p><a href="../poetry.html">Poetry by C R Hilton</a></p>
<p><a href="../tristan_and_iseult.html"><I>Tristan And Iseult: A Jungian Interpretation</I></a></p>

</div>
</div>

<div class="row">
<div class="col-md-8">
<h2>Older articles (1996-2004)</h2>
</div>
</div>

<div class="row">
<div class="col-md-4">

<h3 id="places">Travel writing</h3>
<p><a href="../cambridge_cafes.html">Cambridge Coffee &amp; Cake Guide</a>
<br><a href="../cambridge_restaurants.html">Cambridge Restaurant Reviews</a>
<br><a href="../international_assignment.html">Diary Of An International Assignment</a> (Luxembourg)
<br><a href="../european_cafe_watch.html">European Caf&eacute; Watch</a>
<br><a href="../bordeaux_guide.html">Everything You Always Wanted To Know About Bordeaux</a>
<br><a href="../budapest.html">Seven Hours In Budapest</a>	</p>

<h3 id="computers">Computers</h3>
<p><a href="../computer_books.html">Computer books</a> - how to choose them
<br><a href="../lime_design.html"><EM>Lime</EM> - an editor for online HTML publishing</a>
<br><a href="../machine_translation.html">Machine translation of the World Wide Web</a>
<br><a href="../navigation_links.html">Navigation bar links</a> - how to generate them
<br><a href="../photo_thumbnails.html">Photograph thumbnails</a> - how to make them
<br><a href="../web_page_design_principles.html">Web Page Design Principles</a>
<br><a href="../web_site_architecture.html">Web site architecture</a>
<br><a href="../why_i_hate_computers.html">Why I hate computers</a></p>

<h3 id="practical">Practical stuff</h3>
<p><a href="../cccc.html">Cunning Cryptic Crossword Clues</a>
<br><a href="../cycling.html">Rotterdam Cycle Routes</a>
<br><a href="../european_phrase_book.html">European phrase book</a>
<br><a href="../tips.html">Handy tips</a>
<br><a href="../luxembourgish_verb_table.html">Luxembourgish verb table</a>
<br><a href="../mmmm.html">My magnificent midnight munchies</a>
<br><a href="../rrrr.html">Rough &amp; ready rapid rapid recipes</a></p>

</div>
<div class="col-md-4">

<h3 id="opinion">Opinion</h3>
<p><a href="../books.html">Book reviews</a> - short reviews of computer books
<br><a href="../car_ownership.html">Car ownership</a>
<br><a href="../critical_camera.html">The Critical Camera</a>
<br><a href="../films.html">Film reviews</a> - tiny reviews of films I was watching
<br><a href="../h_graph_faq.html">H-graph FAQ</a>
<br><a href="../questions.html">Important Questions</a>
<br><a href="../code_complete.html"><EM>Code Complete</EM></a> book review
<br><a href="../meta_content.html">Meta-content</a>
<br><a href="../ideas.html">Spare ideas</a>
<br><a href="../why_sofas.html">Why every cafe needs a sofa</a>
<br><a href="../why_obscure_languages.html">Why obscure languages are more fun to learn</a>
<br><a href="../what_numbers_are_not.html">What 'What Numbers Could Not Be', by Paul Benacerraf, Is</a>
</p>

<h3 id="photos">Photographs</h3>
<p><a href="../photos_algonquin.html">Algonquin Provincial Park, Canada</a>
<br><a href="../photos_antwerp.html">Antwerp</a>
<br><a href="../photos_budapest.html">Budapest</a>
<br><a href="../photos_cafes_inside.html">Cafes On The Inside</a>
<br><a href="../photos_cafes_outside.html">Cafes On The Outside</a>
<br><a href="../photos_edinburgh.html">Edinburgh</a>
<br><a href="../photos_luxembourg_city.html">Luxembourg</a> (city)
<br><a href="../photos_maastricht.html">Maastricht</a>
<br><a href="../photos_transport.html">public transport</a>
<br><a href="../photos_vienna.html">Vienna</a></p>

</div>

</div>

<h2>Index</h2>
<p><a title="Index of page titles" href="../titles.html">Page index</a></p>
<p><a title="Index of page titles" href="../photo_index.html">Photo index</a></p>
