<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Review: {{ page.title }}, Antwerp</title>
<link rel="icon" href="/favicon.png" sizes="16x16" type="image/png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="mask-icon" href="/h.svg" color="#DF5A49">
<link rel="contents" href="../contents.html"/>
<link rel="home" href="/"/>
<link rel="index" href="../titles.html"/>
<link rel="author" href="../about"/>
<link rel="stylesheet" href="cafe-belgium.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
</head>

<body>

<article class="review" itemscope itemtype="http://data-vocabulary.org/Review">
	<header>
		<h1 itemprop="itemreviewed" itemscope itemtype="http://data-vocabulary.org/Organization">
			<span itemprop="name">{{ page.title }}</span>
		</h1>
	</header>
	
	<div class="info">
		<p class="photo"><img itemprop="photo" src="../facade/antwerp-{{ page.name | replace:'.md','.jpg' }}"></p>
		<p class="address">
			<span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
					<span itemprop="street-address">{{ page.address }}</span>, 
					<span itemprop="locality">Antwerp</span>, 
					<span itemprop="postal-code">2000</span>,
					<span itemprop="country-name">Belgium</span>
			</span>
			{% if page.tel %}
			<span class="tel" itemprop="tel">{{ page.tel }}</span>
			{% endif %}
			{% if page.website %}
			<a href="{{ page.website }}" itemprop="website">{{ page.website }}</a>
			{% endif %}
			<span class="geo" itemprop="geo">
					<span itemprop="latitude">{{ page.lat }}</span>, 
					<span itemprop="longitude">{{ page.lon }}</span>
			</span>
		</p>
		<div id="map"></div>
	</div>
	
	<p class="summary" itemprop="summary">{{ page.summary }}</p>
	
    <div class="description" itemprop="description">
		{{ content }}
	
		<p class="rating">
			<span class="rating"><meta itemprop="rating" content="{{ page.ratingnumber }}">
				{% assign remainder = 5 | minus: page.ratingnumber %}
				<em>{{ "★★★★★" | truncate: page.ratingnumber, "" }}</em>{{ "☆☆☆☆☆" | truncate: remainder, "" }}
			</span>
			<span class="reviewer" itemprop="reviewer">Peter Hilton</span>
			<time itemprop="dtreviewed" datetime="2010-10-03" pubdate>3 October 2010</time>
		</p>
	</div>
</article>

<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
<h1><img class="flag" src="flag-be.png">
<a href="/antwerp/">Eating &amp; drinking in Antwerp</a></h1>
</nav>

<footer>
<p>{% include footer.html %}</p>
</footer>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<script type="text/javascript">
	var mymap = L.map('map').setView([{{ page.lat }}, {{ page.lon }}], 17);
	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
	  attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA 2.0</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
	  maxZoom: 18,
	  id: 'mapbox/streets-v11',
	  tileSize: 512,
	  zoomOffset: -1,
	  accessToken: 'pk.eyJ1IjoicGV0ZXJoaWx0b24iLCJhIjoiY2thbGV2ZzgzMDlraTJ5cW1yNnVkb21wMyJ9.frm47xK1G5tVcjJfq5UAgg'
	}).addTo(mymap);
	var marker = L.marker([{{ page.lat }}, {{ page.lon }}]).addTo(mymap);
</script>
</body>
</html>
