<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Review: {{ page.title }}, Antwerp</title>
<link rel="contents" href="../contents.html"/>
<link rel="home" href="/"/>
<link rel="index" href="../titles.html"/>
<link rel="author" href="../about"/>
<link rel="stylesheet" href="cafe-belgium.css">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>

<article class="review" itemscope itemtype="http://data-vocabulary.org/Review">
	<header>
		<h1 itemprop="itemreviewed" itemscope itemtype="http://data-vocabulary.org/Organization">
			<span itemprop="name">{{ page.title }}</span>
		</h1>
	</header>
	
	<div class="info">
		<p class="photo"><img itemprop="photo" src="../facade/antwerp-{{ page.slug }}.jpg"></p>
		<p class="address">
			<span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
					<span itemprop="street-address">{{ page.address }}</span>, 
					<span itemprop="locality">Antwerp</span>, 
					<span itemprop="postal-code">2000</span>,
					<span itemprop="country-name">Belgium</span>
			</span>
			{% if page.url %}
			<span class="tel" itemprop="tel"></span>
			<a href="{{ page.url }}" itemprop="url">{{ page.url }}</a>
			{% endif %}
			<span class="geo" itemprop="geo">
					<span itemprop="latitude">{{ page.lat }}</span>, 
					<span itemprop="longitude">{{ page.lon }}</span>
			</span>
		</p>
		<div id="map"></div>
		<script src="//maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAhxP5Vx_OzYfszJoDyOFRXBRALipblfK6m84Q9JFIkC5k8UFcHBQCxAKLJ8O-IpZFGqqmW194vpQx-Q" type="text/javascript"></script>
		<script type="text/javascript">
			if (GBrowserIsCompatible()) {
				var map = new GMap2(document.getElementById("map"));
				map.addControl(new GSmallMapControl());
				var point = new GLatLng({{ page.lat }}, {{ page.lon }});
				map.setCenter(point, 16);
				map.addOverlay(new GMarker(point, {clickable: false, title: "{{ page.title }}"}));
			}
		</script>
	</div>
	
	<p class="summary" itemprop="summary">{{ page.summary }}</p>
	
    <div class="description" itemprop="description">
		{{ page.description }}
	
		<p class="rating">
			<span class="rating"><meta itemprop="rating" content="{{ page.ratingnumber }}"> {{ page.ratingstars }}</span>
			<span class="reviewer" itemprop="reviewer">Peter Hilton</span>
			<time itemprop="dtreviewed" datetime="2010-10-03" pubdate>3 October 2010</time>
		</p>
	</div>
</article>

<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
<h1><img class="flag" src="flag-be.png">
<a href="/antwerp/">Eating &amp; drinking in Antwerp</a></h1>
</nav>

<p class="footer">{% include footer.html %}</p>
</body>
</html>
