<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ page.title }} - HH Rotterdam Cycle Routes</title>
<link rel="icon" href="/favicon.png" sizes="16x16" type="image/png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="mask-icon" href="/h.svg" color="#DF5A49">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<link rel="stylesheet" type="text/css" media="screen" href="cycling/cycling-screen.css">
<link rel="contents"	href="/contents.html">
<link rel="top"	href="/">
<link rel="index"	href="/titles.html">
<link rel="author" href="/about">
<meta name="keywords" content="Rotterdam,Delft,cycling,cycle route">
<style type="text/css" media="screen">
{% if page.css %}
{{ page.css}}
{% endif %}
</style>
</head>
<body>

<div id="masthead">
<h1><a href="cycling.html">Rotterdam Cycle Routes</a></h1>
<p>How to escape the city and find open countryside by bike</p>
</div>

<div id="content">

<h2><a href="cycling.html">Cycle routes »</a> {{ page.title }}</h2>

<div id="cyclemap"></div>
{% if page.kml %}
{% else %}
{% endif %}

<p>Map: <a href="{{ page.kml }}">Google Earth</a> (KML).</p>

{{ content }}

</div>

<div id="navigation">
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</div>

<div id="flash"></div>

<p class="footer">{% include footer.html %}</p>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
{% if page.geoJson %}
<script src="{{ page.geoJson }}"></script>
{% endif %}
<script type="text/javascript">
	var geoJson = false;
{% if page.geoJson %}
	function bindPopup(feature, layer) {
		if (feature.properties && feature.properties.name) {
			var content = '<p><strong>' + feature.properties.name + '</strong></p><p>' + feature.properties.desc + '</p>';
			layer.bindPopup(content);
		}
	}
	
	geoJson = L.geoJSON(geoJsonData, { onEachFeature: bindPopup, style: { color:'#c00'} })	
{% endif %}
	var mapCenter = geoJson ? geoJson.getBounds().getCenter() : [51.918228, 4.481267];
	var geoJsonWidth = geoJson.getBounds().getEast() - geoJson.getBounds().getWest();
	// var mapZoom = geoJsonWidth < 0.3 ? 13 : (geoJsonWidth > 0.2 ? 13 : 14);
	var mapZoom = geoJsonWidth < 0.3 ? 13 : 12;
	console.log(mapZoom);
	var map = L.map('cyclemap').setView(mapCenter, mapZoom);
	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
	  attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA 2.0</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
	  maxZoom: 18,
	  id: 'mapbox/streets-v11',
	  tileSize: 512,
	  zoomOffset: -1,
	  accessToken: 'pk.eyJ1IjoicGV0ZXJoaWx0b24iLCJhIjoiY2thbGV2ZzgzMDlraTJ5cW1yNnVkb21wMyJ9.frm47xK1G5tVcjJfq5UAgg'
	}).addTo(map);
{% if page.geoJson %}
	geoJson.addTo(map);
{% endif %}
</script>
</body>
</html>
