<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} - Peter Hilton{% else %}Peter Hilton - blog{% endif %}</title>
<meta name="author" content="Peter Hilton">
<meta prefix="og: http://ogp.me/ns#" property="og:locale" content="en_GB">
<meta prefix="og: http://ogp.me/ns#" property="og:type" content="{% if page.url contains '/blog/' %}article{% else %}website{% endif %}">
<meta prefix="og: http://ogp.me/ns#" property="og:title" content="{% if page.title %}{{ page.title }}{% else %}Peter Hilton - blog{% endif %}">
<meta prefix="og: http://ogp.me/ns#" property="og:description" content="{% if page.description %}{{ page.description }}{% else %}Peter Hilton’s personal web site{% endif %}">
<meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://hilton.org.uk{{ page.url | replace:'.html','' }}">
<meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://hilton.org.uk/{% if page.image %}blog/{{ page.image }}{% else %}picture/face/hilton-peter.jpg{% endif %}">
<meta prefix="og: http://ogp.me/ns#" property="og:image:alt" content="{% if page.image %}blog illustration{% else %}Peter Hilton{% endif %}">
{% if page.date %}<meta prefix="og: http://ogp.me/ns#" property="article:published_time" content="{{ page.date | date: "%Y-%m-%dT%H:%M:%S%z" }}">{% endif %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@PeterHilton">
<meta name="twitter:creator" content="@PeterHilton">
<link rel="icon" href="/favicon.png" sizes="16x16" type="image/png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="mask-icon" href="/h.svg" color="#DF5A49">
<link rel="stylesheet" type="text/css" href="../style/hh.css">
<link rel="stylesheet" type="text/css" href="../style/pygments.css">
{% if page.css %}<style type="text/css">{{ page.css }}</style>{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
{% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
</head>
<body class="writing">

<section class="main"></section>
<section class="development"></section>
<section class="writing">
	<nav role="navigation">
		<ul>
			<li><a href="/">home</a></li>
			<li><a href="../about">about</a></li>
			<li><a href="../contact">contact</a></li>
		</ul>
	</nav>
	<h2><a href="/blog/">Writing by Peter Hilton</a></h2>
</section>
<section class="speaking"></section>
<section class="music"></section>

<article itemscope itemtype="http://schema.org/Article">

{% if page.title %}
<header>
	<h1 itemprop="name">{{ page.title }}</h1>
	<p><span itemprop="description">{{ page.description }}</span>
	<em>{% if page.date %}{{ page.date | date: "%Y-%m-%d" }}{% endif %}{% for tag in page.tags %} #{{ tag }}{% endfor %}</em></p>
</header>
{% endif %}

{{ content }}
</article>

<article class="related">
{% if page.previous and page.previous.url contains '/blog/' %}
	Previous article: <a href="{{ page.previous.url | replace:'.html','' }}">{{ page.previous.title }}</a>
	<br>
{% endif %}
{% if page.next %}
	Next article: <a href="{{ page.next.url | replace:'.html','' }}">{{ page.next.title }}</a>
{% endif %}
</article>

{% if page.title %}
{% capture url %}https%3A%2F%2Fhilton.org.uk{{ page.url | replace:'.html','' | cgi_escape }}{% endcapture %}
{% if page.description %}{% capture description %}{{ page.description | cgi_escape }}{% for tag in page.tags %}+%23{{ tag }}{% endfor %}{% endcapture %}{% endif %}
<section class="social">
<p><a 
href="https://bsky.app/intent/compose?text={{ page.title | cgi_escape }}%3A+{{ description }}+%7C+by+%40hilton.org.uk+{{ url }}"><img 
src="../picture/social/minimal/bluesky.png" srcset="../picture/social/minimal/bluesky-64.png 2x" alt="Share on Bluesky"></a><a 
href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ url }}&amp;title={{ page.title | cgi_escape }}&amp;summary={{ description }}&amp;source=Presentations+by+Peter+Hilton"><img 
src="../picture/social/minimal/linkedin.png" alt="Share on LinkedIn"></a></p>
</section>
{% endif %}

<footer class="text-muted">
<p>{% include footer.html %}</p>
</footer>

</body>
</html>
