<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>
	{% if page.title %}{{ page.title }} - {% endif %}HH Madrid Bar &amp; Restaurant Reviews
</title>
<style type="text/css" media="screen">@import "madrid.css";</style>
<link rel="home" href="/">
<link rel="author" href="/about">
<meta name="description" content="Guide to eating and drinking in Madrid, with independent reviews and photos of 65 bars, cafes and restaurants">
<meta name="keywords" content="Madrid,bar reviews,restaurant reviews,restaurants,bars,cafes">
</head>
<body>

<div id="yellow"></div>

<h1><a title="Hilton Harbour main page" href="../index.html"><img src="hh-madrid.png" alt="[HOME]"></a>Madrid Bars &amp; Restaurants</h1>

<div class="bars">

<p class="hide"><a href="#content">skip list of bars</a></p>

<h2>reviews by area</h2>

{% if page.url != '/madrid/index.html' %}
<p><a href="index.html">Introduction to Madrid</a></p>
{% endif %}

<h3>Sol and Opera</h3>
<ul>
{% for page in site.tags.madrid-sol %}
<li><a href="../{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
</ul>

<h3>La Latina</h3>
<ul>
{% for page in site.tags.madrid-latina %}
<li><a href="../{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
</ul>

<h3>around Plaza de Santa Ana</h3>
<ul>
{% for page in site.tags.madrid-santaana %}
<li><a href="../{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
</ul>

<h3>Malasaña</h3>
<ul>
{% for page in site.tags.madrid-malasana %}
<li><a href="../{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
</ul>

<h3>Chueca</h3>
<ul>
{% for page in site.tags.madrid-chueca %}
<li><a href="../{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
</ul>

<h3>Salamanca</h3>
<ul>
{% for page in site.tags.madrid-salamanca %}
<li><a href="../{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
</ul>

<h3>other</h3>
<ul>
{% for page in site.tags.madrid-other %}
<li><a href="../{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
</ul>

</div>

<div id="content" class="content">
{% if page.url != '/madrid/index.html' %}
<h2>{{ page.title }}, {{ page.address }}</h2>
<p class="facade"><img src="../facade/madrid-{{ page.url | replace: 'madrid/', '' | replace: '.html', '' }}.jpg" alt="{{ page.title }}"></p>
{% endif %}
{{ content }}

<h2>See also</h2>
<ul>
<li><a href="index.html">Madrid Bar &amp; Restaurants introduction</a></li>
<li><a href="european_cafe_watch.html">European Cafe Watch</a></li>
</ul>


</div>

<h2 class="hide">Site naviation</h2>

<ul class="navigation">
<li><a href="/">Home</a></li>
<li><a href="/about.html">About</a></li>
<li><a href="/contact.html">Contact</a></li>
</ul>

<p class="footer">{% include footer.html %}</p>

</body>
</html>
