<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ page.title }} - Peter Hilton</title>
<link rel="stylesheet" type="text/css" href="../style/hh.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Peter Hilton">
</head>
<body class="music">

<section class="main"></section>
<section class="development"></section>
<section class="writing"></section>
<section class="speaking"></section>
<section class="music">
	<nav role="navigation">
		<ul>
			<li><a href="/">home</a></li>
			<li><a href="../about">about</a></li>
			<li><a href="../contact">contact</a></li>
		</ul>
	</nav>
	<h2>Peter Hilton - Early music</h2>
</section>

<article itemscope itemtype="http://schema.org/Article">
<header>
	<h1 itemprop="name">{{ page.title }}</h1>
</header>
{{ content }}
</article>

<footer>
<p>{% include footer.html %}</p>
</footer>

</body>
</html>
