<!DOCTYPE html>
<html lang="en">
<head>  
<title>{{ page.title }} - Hilton Harbour</title>
<link rel="contents" href="http://hilton.org.uk/index.phtml?theme=contents">
<link rel="home" href="/">
<link rel="index" href="/titles.html">
<link rel="stylesheet" type="text/css" href="screen.css">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="author" content="Peter Hilton">
<meta name="description" content="Musings and memories of a thespian, by O.B. Clarence">
<meta name="keywords" content="O.B. Clarence, theatre, actor, acting">
<meta name="language" content="en">
<!--	margins (mm) left/right 88.75, top 15, bottom 20; landscape orientation 
	cut 69 mm from each side to leave pages 158.5 x 210 mm -->
</head>

<body>

{% if page.url != '/obc/index.html' %}
<h1>{{ page.title }}</h1>
<p class="subhead">Part of <a href="index.html">Theatrical Adventures</a> by O.B. Clarence</p>
{% endif %}

{{ content }}

<p class="footer">Published on <a href="http://hilton.org.uk/">Hilton Harbour</A> by Peter Hilton. &copy;Pamela Hilton 1999. All rights reserved.</p>

</body>
</html>
