<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ page.title }} - photo, Peter Hilton</TITLE>
<link rel="icon" href="/favicon.png" sizes="16x16" type="image/png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="contents"	href="../contents.html">
<link rel="top"	href="../">
<link rel="index"	href="../titles.html">
<link rel="author" href="../about_ph.html">
<link rel="stylesheet" type="text/css" href="../style/hh_photos.css">
</head>
<body>

<h1 style="text-align:center; font-size:120%">{{ page.title }}</h1>

<p style="text-align:center"><img src="../picture/{{ page.path }}" alt="{{ page.title }}"></p>

<p class="footer">Hilton Harbour:
<a href="/">Home</a> |
<a href="/about">About</a> |
<a href="/contact">Contact</a></p>

<p class="footer">{% include footer.html %}</p>
</body>
</html>
