<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" > 
<title>{{ page.caption }} - HH photos</TITLE>
<link rel="contents"	href="../contents.html">
<link rel="top"	href="../">
<link rel="index"	href="../titles.html">
<link rel="author" href="../about_ph.html"/>
<link rel="stylesheet" type="text/css" href="../style/hh_photos.css">
</head>

<body>

<h1 style="text-align:center; font-size:120%">{{ page.caption }}</h1>

<p style="text-align:center">
<img src="../picture/{{ page.path }}" alt="{{ page.caption }}" />
</p>

<p class="footer">
	Hilton Harbour:
	<a href="../index.html" title="Hilton Harbour main page">home</a> |
	<a href="../new.html" title="what's newest on Hilton Harbour, and the site history">what's new</a> |
	<a href="../contents.html" title="Hilton Harbour - table of contents">contents</a> |
	<a href="../titles.html" title="an alphabetical index of every page on Hilton Harbour">index</a> |
	<a href="../about_hh.html" title="about Hilton Harbour">about</a> |
	<a href="../about_ph.html#where" title="Peter Hilton's home page">contact</a> |
</p>

{% include footer.html %}

</body>
</html>
