<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>
{% if page.title %}
	Review: {{ page.title }}, Rotterdam
	{% assign description = 'One of Hilton Harbour’s cafe &amp; restaurant reviews' %}
	{% assign home = '../' %}
	{% assign path = '' %}
{% else %}
	Rotterdam Cafe &amp; Restaurant Reviews
	{% assign description = 'Reviews and photos of Rotterdam’s cafes and restaurants' %}
	{% assign home = '' %}
	{% assign path = 'rotterdam/' %}
{% endif %}
</title>
<link rel="home" href="/">
<link rel="author" href="{{ home }}about">
<style type="text/css" media="screen">@import "{{ path }}rotterdam.css";</style>
<meta name="description" content="{{ description }}">
<meta name="keywords" content="Rotterdam,Holland,Netherlands,restaurant reviews,restaurants,bars,cafes">
</head>
<body class="">

<div class="content">

	<h1>Rotterdam cafes &amp; restaurants</h1>

	{% if page.title %}

	<div class="review" itemscope itemtype="http://schema.org/Review">

		<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/LocalBusiness">
			<h3 id="{{ page.slug }}"><span itemprop="name">{{ page.title }}</span>,
			<span itemprop="address">{{ page.address }},
			<span itemprop="locality">Rotterdam</span></span>{% if page.telephone %}, {{ page.telephone }}{% endif %}
			<a itemprop="url" href="{{ page.website }}">{{ page.website }}</a>
			</h3>

			<div class="left">
				<p><img src="../facade/rotterdam-{{ page.slug }}.jpg" alt="{{ page.name }}"></p>
				{% if page.lat %}
				<div id="map" itemprop="maps"></div>
				<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAhxP5Vx_OzYfszJoDyOFRXBRALipblfK6m84Q9JFIkC5k8UFcHBQCxAKLJ8O-IpZFGqqmW194vpQx-Q" type="text/javascript"></script>
				<script type="text/javascript">
					if (GBrowserIsCompatible()) {
						var map = new GMap2(document.getElementById("map"));
						map.addControl(new GSmallMapControl());
						var point = new GLatLng({{ page.lat }}, {{ page.lon }});
						map.setCenter(point, 16);
						map.addOverlay(new GMarker(point, {clickable: false, title: "{{ page.name }}"}));
					}
				</script>
				{% endif %}
			</div>
		</div>

		<p>One of {{ site.categories.rotterdam | size }}
		<a href="{{ home }}rotterdam.html">Rotterdam Cafe &amp; Restaurant reviews</a>.</p>

		{{ content }}

		<div class="notes">
			<p class="rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
			{% if page.rating %}Rating <span itemprop="ratingValue">{{ page.rating }}</span>/5 •{% endif %}
			review by <span itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span itemprop="name">Peter Hilton</span></span>
			{% if page.visited %}•
			review updated <time itemprop="dtreviewed" datetime="{{ page.visited }}">{{ page.visited | date: '%d %B %Y' }}</time>{% endif %}
			</p>
			{% if page.tags != empty %}<p class="tags">Tags: <span itemprop="keywords">{{ page.tags | join: ' ' }}</span></p>{% endif %}
		</div>

	</div>
{% else %}

	<div class="thumbnail">
		<p>See also:</p>
		<p><a href="{{ home }}rotterdam_cafe_map.html" title="Rotterdam Cafe Map"><img src="{{ path }}rotterdam-cafe-map-thumbnail.png"></a></p>
		<p><a href="{{ home }}rotterdam_cafe_map.html">Rotterdam Cafe Map</a></p>
		<p style="margin-top:3em"><a href="{{ home }}rotterdam_cocktail.html" title="Rotterdam Cocktail Bar Reviews"><img src="{{ home }}cocktail/cocktail-2.png"><img src="{{ home }}cocktail/cocktail-2.png"></a></p>
		<p><a href="{{ home }}rotterdam_cocktail.html">Rotterdam Cocktail Bars</a></p>
		<p style="margin-top:3em"><a href="{{ home }}european_cafe_watch.html"><img src="{{ home }}picture/icon/at.png"><img src="{{ home }}picture/icon/be.png"><img src="{{ home }}picture/icon/es.png"><img src="{{ home }}picture/icon/fr.png"><img src="{{ home }}picture/icon/england.png"><img src="{{ home }}picture/icon/ie.png"><img src="{{ home }}picture/icon/lu.png"><img src="{{ home }}picture/icon/it.png"></a></p>
		<p><a href="{{ home }}european_cafe_watch.html">European Cafe Watch</a></p>
		<p>Other web sites:</p>
		<ul>
		<li><a href="http://www.iens.nl/english/restaurantsIn/Rotterdam/">IENS Independent Index</a><br>(restaurants)</li>
		<li><a href="http://www.vvv.rotterdam.nl/uk/">Rotterdam tourist info</a></li>
		</ul>
	</div>

	{{ content }}
{% endif %}
</div>

<ul class="navigation">
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
</ul>

<p class="footer">{% include footer.html %}</p>

</body>
</html>
