<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ page.title }} - Peter Hilton</title>
<link rel="icon" href="/favicon.png" sizes="16x16" type="image/png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="mask-icon" href="/h.svg" color="#DF5A49">
<link rel="stylesheet" type="text/css" href="../style/hh.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
{% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
<meta name="author" content="Peter Hilton">
<meta property="og:locale" content="en_GB" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{% if page.description %}{{ page.description }} #presentation{% else %}Recent &amp; upcoming presentations{% endif %}" />
<meta property="og:url" content="https://hilton.org.uk{{ page.url | replace:'.html','' }}" />
<meta property="og:image" content="https://hilton.org.uk/{% if page.image %}presentations/{{ page.image }}{% else %}picture/face/hilton-peter.jpg{% endif %}" />
<meta property="og:image:alt" content="{% if page.image %}Presentation title slide{% else %}Peter Hilton{% endif %}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@PeterHilton" />
<meta name="twitter:creator" content="@PeterHilton" />
</head>
<body class="speaking">

<section class="main"></section>
<section class="development"></section>
<section class="writing"></section>
<section class="speaking">
	<nav role="navigation">
		<ul>
			<li><a href="/">home</a></li>
			<li><a href="../about">about</a></li>
			<li><a href="../contact">contact</a></li>
		</ul>
	</nav>
	<h2><a href="/presentations/">Peter Hilton - Speaking &amp; training</a></h2>
</section>
<section class="music"></section>

<article itemscope itemtype="http://schema.org/Article">
{% if page.title %}
<header>
	<h1 itemprop="name">{{ page.title }}</h1>
	<p><span itemprop="description">{{ page.description }}</span></p>
</header>
{% endif %}
{{ content }}
</article>

{% if page.title %}
{% capture url %}http%3A%2F%2Fhilton.org.uk{{ page.url | replace:'.html','' | cgi_escape }}{% endcapture %}
{% if page.description %}{% capture description %}{{ page.description | cgi_escape }}{% for tag in page.tags %}+%23{{ tag }}{% endfor %}{% endcapture %}{% endif %}
<section class="social">
<p><a href="https://twitter.com/share?url={{ url }}&amp;text={{ page.title | cgi_escape }}%3A+{{ description }}+%7C+New+article+by+%40PeterHilton" onclick="javascript:window.open(this.href,
'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=320,width=600');return false;"><img src="../picture/social/minimal/twitter.png" alt="Share on Twitter"></a><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ url }}&amp;title={{ page.title | cgi_escape }}&amp;summary={{ description }}&amp;source=Presentations+by+Peter+Hilton" onclick="javascript:window.open(this.href,
'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=430,width=600');return false;"><img src="../picture/social/minimal/linkedin.png" alt="Share on LinkedIn"></a></p>
</section>
{% endif %}

<footer class="text-muted">
<p>{% include footer.html %}</p>
</footer>

</body>
</html>
