<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
{% assign home = '../' %}
<title>{{ page.title }} - Peter Hilton’s blog</title>
<link rel="icon" href="/favicon.png" sizes="16x16" type="image/png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="mask-icon" href="/h.svg" color="#DF5A49">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ home }}style/hh-2014.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Peter Hilton">
</head>
<body class="tag">

<section class="main"></section>
<section class="development"></section>

<section class="writing">
	<div class="container">
		<nav class="navbar pull-right" role="navigation">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">home</a></li>
				<li><a href="{{ home }}about">about</a></li>
				<li><a href="{{ home }}contact">contact</a></li>
			</ul>
		</nav>
		<h2><a href="/blog/">Writing by Peter Hilton</a></h2>
	</div>
</section>

<section class="speaking"></section>
<section class="music"></section>

<div class="container" itemscope itemtype="http://schema.org/Article">

	<header>
		<h1 itemprop="name">Articles tagged ‘{{ page.title }}’</h1>
	<header>

	<p class="tags"><a class="label label-default" href="../blog/">all articles</a></p>
	
	<article class="content">
	{{ content }}
	</article>  	

	<footer class="text-muted">
		<p>{% include footer.html %}</p>
	</footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
