<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
{% assign home = '../' %}
<title>{{ page.title }} - Peter Hilton’s blog</title>
<link rel="icon" href="/favicon.png" sizes="16x16" type="image/png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="mask-icon" href="/h.svg" color="#DF5A49">
<link rel="stylesheet" type="text/css" href="{{ home }}style/hh.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Peter Hilton">
</head>
<body class="writing">

<section class="main"></section>
<section class="development"></section>
<section class="writing">
	<nav role="navigation">
		<ul>
			<li><a href="/">home</a></li>
			<li><a href="{{ home }}about">about</a></li>
			<li><a href="{{ home }}contact">contact</a></li>
		</ul>
	</nav>
	<h2><a href="/blog/">Writing by Peter Hilton</a></h2>
</section>
<section class="speaking"></section>
<section class="music"></section>

<article itemscope itemtype="http://schema.org/Article">

	<header>
		<h1 itemprop="name">Articles tagged ‘{{ page.title }}’</h1>
	</header>

	<p class="tags"><a href="../blog/">all articles</a></p>
	
	{{ content }}
</article>  	

<footer class="text-muted">
	<p>{% include footer.html %}</p>
</footer>

</body>
</html>
